

<section class="section container">
	<div class="columns">
		<div class="column is-6 is-offset-3">
			<div class="box">
				<h2 class="title has-text-centered"><%= t('.resend_confirmation_instructions') %></h2>

				<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
				<%= devise_error_messages! %>

				<div class="field">
					<%= f.label :email, class: "label" %><!-- <br /> -->
					<div class="control">						
						<%= f.email_field :email, autofocus: true, class: "input", autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
					</div>
				</div>

				<div class="actions field">
					<div class="control has-text-centered">
						<%= f.submit t('.resend_confirmation_instructions'), class: "button is-info" %>
					</div>
				</div>
				<% end %>

				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
</section>