<% content_for :page_title, "Inscription utilisateur" %>

<section class="container py-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 text-center mb-4">
      <h2><%= t(".sign_up") %></h2>
    </div>
    <div class="col-lg-6 offset-lg-3">
      <div class="card border-0" style="box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);">
        <div class="card-body px-5">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.association :user_group, autofocus: true, include_blank: false, label: "Vous êtes" %>
            <%= f.input :first_name, required: true, label: "Prénom" %>
            <%= f.input :last_name, required: true, label: "Nom" %>
            <%= f.input :phone_number, as: :tel, required: true, label: "Numéros de téléphone" %>
            <%= f.input :email, required: true %>
            <%= f.input :password, required: true %>
            <%= f.input :password_confirmation, required: true %>
          </div>

          <div class="form-inputs d-flex">
            <%= f.input :terms_and_conditions, label: false %>
            <p class="ml-2">J'accepte les <%= link_to "conditions d'utilisation" %> du site.</p>
          </div>
          <div class="form-actions">
            <%= f.button :submit, t(".sign_up"), class: "btn btn-primary btn-block btn-lg" %>
          </div>
          <% end %>

          <div class="text-center mt-4">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
