<section class="container-fluid">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-4 offset-lg-4">

                <div class="card"">
                    <div class="card-body" style="box-shadow: 0 2px 10px rgba(0,0,0,.3);">


<h2 class="card-title text-center"><%= t(".sign_up") %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(".sign_up"), class: "btn btn-primary btn-block" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>



                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
