<% content_for :page_title, "Inscription utilisateur" %>

<section class="container py-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 text-center mb-4">
      <h2><%= t(".sign_up") %></h2>
    </div>
    <div class="col-lg-6 offset-lg-3">
      <div class="card border-0" style="box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);">
        <div class="card-body px-5">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <% if resource.errors.any? %>
          <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">
          <%= pluralize(resource.errors.count, "error", "erreurs") %> ont empêché l'enregistrement de ce produit:
          <!-- prohibited this product from being saved : -->
          </h4>
          <ul>
          <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
          </ul>
          </div>    
          <% end %>

          <div class="form-inputs">
            <%= f.input :role, autofocus: true, collection: User::ROLE, required: true, label: "Vous êtes" %>
            <%= f.input :email, required: true %>
            <%= f.input :password, required: true %>
            <%= f.input :password_confirmation, required: true %>

            <%= f.input :terms_and_conditions, inline_label: true, required: false, label: "J'ai lu et j'accepte les conditions générales d'utilisation du site." %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, t(".sign_up"), class: "btn btn-primary btn-block btn-lg" %>
          </div>
          <% end %>

          <div class="text-center mt-4">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
