<!-- <h1>User#welcome</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/welcome.html.erb
</p> -->

<h2>Bienvenue sur <%= link_to "SICO", home_page_url %>, <%= @user.first_name %>,</h2>
<p>Vous vous êtes inscrit avec succès sur <%= link_to "SICO", "sicoapp.herokuapp.com" %>, votre adresse email est: <%= @user.email %> .</p>
<p>Pour vous connecter au site, il suffit de suivre ce lien: <%= link_to "#{home_page_url}", home_page_url %> .</p>
<p>Merci de votre inscription et bonne journée!</p>
<p>Si vous avez des questions, n'hésitez pas à nous contacter!</p>

<p>Merci,</p>
<p>L'équipe SICO</p>