<!-- <h1>User#welcome</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/welcome.html.erb
</p> -->

<h2>Bienvenue <%= @user.first_name if @user.first_name.present? %>,</h2>
<p>Vous vous êtes inscrit avec succès sur <%= link_to home_page_url, home_page_url %>, votre adresse email est: <%= @user.email %> .</p>
<p>Pour vous connecter au site, il suffit de suivre ce lien: <%= link_to new_user_session_url, new_user_session_url %> .</p>
<p>Merci de votre inscription et bonne journée!</p>
<p>Si vous avez des questions, n'hésitez pas à nous contacter dépuis notre page de contact  <%= link_to contact_us_url, contact_us_url %>!</p>

<p>Merci,</p>
<p>L'équipe SICO</p>