<footer class="container-fluid" style="background-color: #FCFCFC;">
	<div class="container">
		<div class="row py-5">
			<div class="col-md-4 my-3 my-md-0">
				<h5 class="mb-3 text-uppercase font-weight-bold"><i class="fas fa-home fa-lg"></i> Sico</h5>
				<p></p>
			</div>
			<div class="col-md-5 my-3 my-md-0">
				<h5 class="mb-3 font-weight-bold">Liens utiles</h5>
				<div class="row">
					<div class="col-md-6">
						<ul class="nav flex-column">
							<li class="nav-item">
								<%= link_to 'Qui sommes-nous', page_path('about'), class: "nav-link pl-0 py-1 text-muted" %>
							</li>
							<li class="nav-item">
								<%= link_to 'Contacter-nous', page_path('about'), class: "nav-link pl-0 py-1 text-muted" %>
							</li>
							<li class="nav-item">
								<%= link_to "Carrières", accueil_path, class: "nav-link pl-0 py-1 text-muted" %>
							</li>
							<li class="nav-item">
								<%= link_to "Tarifs", accueil_path, class: "nav-link pl-0 py-1 text-muted" %>
							</li>
							<li class="nav-item">
								<%= link_to "Conditions générales d'utilisation", accueil_path, class: "nav-link pl-0 py-1 text-muted" %>
							</li>

							<li class="nav-item">
								<%= link_to "Politique de confidentialité", accueil_path, class: "nav-link pl-0 py-1 text-muted" %>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="nav flex-column">
					<li class="nav-item">
						<%= link_to "FAQ", accueil_path, class: "nav-link pl-0 py-1 text-muted" %>
					</li>
					<li class="nav-item">
						<%= link_to "Blog", accueil_path, class: "nav-link pl-0 py-1 text-muted" %>
					</li>
					<li class="nav-item">
						<%= link_to "Comment ça marche ?", accueil_path, class: "nav-link pl-0 py-1 text-muted" %>
					</li>
					<li class="nav-item">
						<%= link_to "Contact", accueil_path, class: "nav-link pl-0 py-1 text-muted" %>
					</li>
				</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 my-3 my-md-0">
				<h5 class="mb-3 font-weight-bold">Contact</h5>
				<address>
					<ul class="nav flex-column">
						<li class="nav-item">
							<a href="" class="nav-link pl-0 py-1 text-muted">
								<i class="fas fa-map-marker-alt mr-1" aria-hidden="true"></i>&nbsp; Cococodji, Bénin
							</a>
						</li>
						<li class="nav-item">
							<a href="" class="nav-link pl-0 py-1 text-muted">
								<i class="fas fa-mobile mr-1" aria-hidden="true"></i>&nbsp; 62 20 03 90
							</a>
						</li>
						<li class="nav-item">
							<%= mail_to "francel.webdev@gmail.com", subject: "Demande d'information", class: "nav-link pl-0 py-1 text-muted" do %>
								<i class="fas fa-envelope mr-1" aria-hidden="true"></i>&nbsp; francel.webdev@gmail.com
							<% end %>
						</li>
					</ul>
				</address>

				<ul class="nav">
					<li class="nav-item">
						<%= link_to "https://facebook.com", title: "Suivez-nous sur facebook", class: "nav-link" do %>
							<i class="fab fa-facebook-f fa-lg" style="color: #4D6FA9;"></i>
						<% end %>
					</li>
					<li class="nav-item">
						<%= link_to "https://facebook.com", title: "Suivez-nous sur twitter", class: "nav-link" do %>
							<i class="fab fa-twitter fa-lg" style="color: #65BBF2;""></i>
						<% end %>
					</li>
				</ul>

			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<hr>
			</div>
		</div>
		<div class="row py-3">
			<div class="col-12 text-center text-md-right">
				<p class="text-center text-muted">&copy; <%= Time.now.year %> Sico. Tous droit réservé.</p>
			</div>
		</div>
	</div>
</footer>
