<% content_for :add_property do %>
<li class="nav-item mx-2">
    <%= link_to "Ajouter un bien", new_property_path, class: "btn btn-primary"  %>
</li>
<% end %>

<% content_for :dropdown_menu do %>
<% if user_signed_in? %>
<div class="dropdown-menu dropdown-menu-right mt-3" aria-labelledby="navbarDropdown">
    <h6 class="dropdown-header"><%= current_user.first_name %> <%= current_user.last_name %></h6>
    <div class="dropdown-divider"></div>
    <%= link_to " Mes biens", my_properties_path, class: "dropdown-item" %> 
    <%= link_to " Mon profile", edit_profile_path, class: "dropdown-item" %>
    <%= link_to "Mon compte", edit_user_registration_path, class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
</div>
<% end %>
<% end %>

<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top" style="box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);">
<!--
box-shadow: 0 2px 10px rgba(0,0,0,.3);
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px, rgba(0, 0, 0, 0.2) 0px 2px 20px 0px;
box-shadow: 0 10px 32px 0 rgba(0,0,0,.1);
box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);
box-shadow: 0 16px 20px 0 rgba(216, 216, 216, .75);
box-shadow: 0 10px 20px rgba(0,0,0,.1);
-->
<%= link_to home_page_path, class: "navbar-brand text-uppercase text-dark font-weight-bold" do %>
<span class="h3 mb-0 font-weight-bold d-flex align-items-baseline">SICO</span>
<% end %>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item active mx-2">
            <%= link_to home_page_path, class: "nav-link" do %>
            Accueil <span class="sr-only">(current)</span>
            <% end %>
        </li>
<!-- <li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Type de bien</a>
<div class="dropdown-menu" aria-labelledby="dropdown01">
<a class="dropdown-item" href="#">Action</a>
<a class="dropdown-item" href="#">Another action</a>
<a class="dropdown-item" href="#">Something else here</a>
</div>
</li> -->
<li class="nav-item mx-2">
    <%= link_to "Tout les biens", properties_path, class: "nav-link" %>
</li>

<% if user_signed_in? %>
<li class="nav-item mx-2">
    <%= link_to "Mes biens", my_properties_path, class: "nav-link"  %>
</li>
<% elsif !user_signed_in? or (user_signed_in? and current_user.user_group.name == "Agence") %>
<li class="nav-item mx-2 sr-only">
    <%= link_to "Offre agence", agency_benefits_path, class: "nav-link"  %>
</li>
<% end %>
</ul>

<ul class="navbar-nav ml-auto d-flex align-items-center">
    <% if user_signed_in? %>
        <% if current_user.profile_photo.attached? %>
            <%= yield :add_property %>
            <li class="nav-item dropdown mx-2">
                <%= image_tag(current_user.profile_photo, size: "40x40", class: "rounded-circle dropdown-toggle", id: "navbarDropdown", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false") %>
                <%= yield :dropdown_menu %>
            </li>
        <% else %>
            <%= yield :add_property %>
            <li class="nav-item dropdown mx-2">
                <%= image_tag "148705-essential-collection/svg/user-3.svg", size: "40x40", class: "dropdown-toggle", id: "navbarDropdown", role: "button", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false" %>
                <%= yield :dropdown_menu %>
            </li>
        <% end %>
    <% else %>
        <li class="nav-item mx-2">
            <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
        </li>
        <%= yield :add_property %>
    <% end %>
</ul>
</div>
</nav>
