<%= simple_form_for "", url: properties_path, method: :get do |f| %>
<div class="row px-1">
    <div class="col-lg-3 px-1 mb-2">
        <%= f.input :property_type, collection: Property::PROPERTY_TYPE, prompt: "Type de bien", label: false, input_html: { class: "form-control form-control-lg" }, wrapper_html: { class: "m-0" } %>
    </div>
    <div class="col-lg-3 px-1 mb-2">
        <%= f.input :ad_type, collection: Property::AD_TYPE, prompt: "Type d'annonce", label: false, input_html: { class: "form-control form-control-lg" }, wrapper_html: { class: "m-0" } %>
    </div>
    <div class="col-lg-4 px-1 mb-2">
        <%= f.input :city, placeholder: "Ou ? Zogbo, Fifadji, Fidjrossè ?", label: false, input_html: { class: "form-control form-control-lg" }, wrapper_html: { class: "m-0" } %>
    </div>
    <div class="col-lg-2 px-1 mb-2">
        <%= f.button :submit, "Rechercher", name: nil, class: 'btn btn-primary btn-block btn-lg' %>
    </div>
</div>
<% end %>