<% if current_page?(accueil_path) %>
    <%= form_with url: properties_path, method: :get, local: true do |form|  %>
        <div class="form-row px-1">
            <div class="col-md-3 my-1">
                <%= form.select :property_type, PropertyType.all.collect { |p| [ p.name, p.id ] }, { include_blank: "Type de bien" }, { class: "form-control form-control-lg", required: true } %>
            </div>
            <div class="col-md-3 my-1">
                <%= form.select :ad_type, AdType.all.collect { |p| [ p.name, p.id ] }, { include_blank: "Type d'annonce" }, { class: "form-control form-control-lg", required: true } %>
            </div>
            <div class="col-md-4 my-1">
                <%= form.search_field :city, placeholder: "Dans quel ville où quartier ?", class: 'form-control form-control-lg', required: true %>
            </div>
            <div class="col-md-2 my-1">
                <%= form.submit "Rechercher", name: nil, class: 'btn btn-primary btn btn-block btn-lg' %>
            </div>
        </div>        
        <% end %>

<% elsif current_page?(properties_path)%>
    <%= form_with url: properties_path, method: :get, local: true do |form|  %>
        <div class="form-row px-1">
            <div class="col-md-3 my-1">
                <%= form.select :property_type, PropertyType.all.collect { |p| [ p.name, p.id ] }, { include_blank: "Type de bien" }, { class: "form-control", required: true } %>
            </div>
            <div class="col-md-3 my-1">
                <%= form.select :ad_type, AdType.all.collect { |p| [ p.name, p.id ] }, { include_blank: "Type d'annonce" }, { class: "form-control", required: true } %>
            </div>
            <div class="col-md-4 my-1">
                <%= form.text_field :city, placeholder: "Dans quel ville où quartier ?", class: 'form-control', required: true %>
            </div>
            <div class="col-md-2 my-1">
                <%= form.submit "Rechercher", name: nil, class: 'btn btn-primary btn btn-block' %>
            </div>
        </div>
    <% end %>

<% end %>