<%= simple_form_for(@property) do |f| %>

<%= f.error_notification %>

<div class="card border-0 mb-4 mon-box-shadow">
    <div class="card-body">
        <div class="form-row p-2">
            <div class="col-12">
                <h4 class="card-title mb-3">Description du bien</h4>
            </div>            
            <div class="col-12">
                <%= f.input :title, autofocus: true %>
            </div>
            <div class="col-12">
                <%= f.input :description, input_html: { rows: 10 } %>
            </div>
            <div class="col-md-4">
                <%= f.input :ad_type, collection: ["Location"] %>
            </div>
            <div class="col-md-4">
                <%= f.input :property_type, collection: ["Appartement", "Maison", "Bureau", "Commerce", "Villa", "Sanitaire"] %>
            </div>
            <div class="col-md-4">
                <%= f.input :room, collection: ["1 pièce", "2 pièces", "3 pièces", "4 pièces", "5 pièces", "plus de 5 pièces"] %>
            </div>
            <div class="col-md-4">
               <%= f.input :area %>
           </div>        
           <div class="col-md-4">
            <%= f.input :available, collection: [["Oui", true], ["Non", false]] %>
        </div>
        <div class="col-md-4">
            <%= f.input :etage, collection: ["Rez-de-chaussée", "1er étage", "2ème étage", "3ème étage", "4ème étage", "5ème étage"] %>
        </div>
        <div class="col-md-4">
            <%= f.input :price %>
        </div>
        <div class="col-md-4">
            <%= f.input :avance, input_html: { min: 1, max: 3 } %>
        </div>
    </div>
</div>
</div>

<div class="card border-0 mb-4 mon-box-shadow">
    <div class="card-body">
        <div class="form-row p-2">
            <div class="col-12">
                <h4 class="card-title mb-3">Caractéristiques du bien</h4>
            </div>
            <div class="col-12">
                <%= f.input :feature, as: :check_boxes, collection: ["Electricité", "Eau", "WC", "Internet"], label: false, wrapper_html: { class: "form-check" }, input_html: { class: "form-check-input" } %>
            </div>
        </div>
    </div>    
</div>

<div class="card border-0 mb-4 mon-box-shadow">
    <div class="card-body">
        <div class="form-row p-2">
            <div class="col-12">
                <h4 class="card-title mb-3">Photos du bien</h4>
                <p class="card-text text-info mb-3">Une annonce avec photo est 7 fois plus consultée qu'une annonce sans photo. <br> Ajouter les photos des différents pièces et de bonne qualité afin d'attirer plus d'acheteurs ou locataires potentiels.</p>
            </div>
            <div class="col-md-4">
                <%= f.input :photos, label: "Photo 1", input_html: { name: "property[photos][]", class: "form-control-file"}, multiple: true, direct_upload: true, wrapper: :vertical_file_input %>
                <%= image_tag @property.photos[0], size: "200x150" if @property.photos[0].present? %>
            </div>
            <div class="col-md-4">
                <%= f.input :photos, label: "Photo 2", input_html: { name: "property[photos][]", class: "form-control-file"}, multiple: true, direct_upload: true %>
                <%= image_tag @property.photos[1], size: "200x150" if @property.photos[1].present? %>
            </div>
            <div class="col-md-4">
                <%= f.input :photos, label: "Photo 3", input_html: { name: "property[photos][]", class: "form-control-file"}, multiple: true, direct_upload: true %>
                <%= image_tag @property.photos[2], size: "200x150" if @property.photos[2].present? %>
            </div>
        </div>
    </div>
</div>

<div class="card border-0 mb-4 mon-box-shadow">
    <div class="card-body">
        <div class="form-row p-2">
            <div class="col-12">
                <h4 class="card-title mb-3">Localisation du bien</h4>
            </div>
            <div class="col-md-6">
                <%= f.input :address %>
            </div>
            <div class="col-md-6">
                <%= f.input :city %>
            </div>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-12">
        <%= f.button :submit, @property.new_record? ? "Publiez l'annonce" : "Modifier l'annonce", class: "btn btn-primary btn-lg" %>
    </div>
</div>
<% end %>
