<%= simple_form_for(@property) do |f| %>
<%= f.error_notification %>
<div class="card bg-white border-0 mb-4">
    <div class="form-inputs form-row card-body p-5">
        <div class="col-12">
            <p class="h4 font-weight-bold text-dark mb-4">Description du bien</p>
        </div>
        <div class="col-12">
            <%= f.input :title, autofocus: true, required: true, label: "Titre", placeholder: "Bureau de 25m2 à louer à Akpakpa au 1er étage" %>
        </div>
        <div class="col-12">
            <%= f.input :description, required: true, label: "Description", placeholder: "Description", input_html: { rows: 5 } %>
        </div>
        <div class="col-lg-4">
            <%= f.association :ad_type, label: "Type d'annonce", include_blank: false %>
        </div>
        <div class="col-lg-4">
            <%= f.association :property_type, label: "Type de bien", include_blank: false %>
        </div>
        <div class="col-lg-4">
            <%= f.input :area, required: true, label: "Surface", placeholder: "25" %>
        </div>
        <div class="col-lg-4">
            <%= f.input :room, collection: Property::ROOM, label: "Nombres de pièce", include_blank: false %>
        </div>
        <div class="col-lg-4">
            <%= f.input :bedroom, collection: Property::BEDROOM, label: "Nombres de chambre", include_blank: false %>
        </div>
        <div class="col-lg-4">
            <%= f.input :bathroom, collection: Property::BATHROOM, label: "Nombres de salle de bain", include_blank: false %>
        </div>
        <div class="col-lg-4">
            <%= f.input :price, required: true, label: "Loyer mensuel", placeholder: "45000" %>
        </div>
        <div class="col-lg-4">
            <%= f.input :avance, required: true, label: "Avance", placeholder: "3" %>
        </div>
        <div class="col-lg-4">
            <%= f.input :available, collection: [['1', 'Oui'], ['0', 'Non']], label_method: :second, value_method: :first, label: "Ddisponible maintenant ?", include_blank: false %>
        </div>
    </div>
</div>

<div class="card bg-white border-0 mb-4">
    <div class="form-inputs form-row card-body p-5">
        <div class="col-12">
            <p class="h4 font-weight-bold text-dark mb-4">Détails du bien</p>
        </div>
    </div>
</div>

<div class="card bg-white border-0 mb-4">
    <div class="form-inputs form-row card-body p-5">
        <div class="col-12">
            <p class="h4 font-weight-bold text-dark mb-4">Adresse du bien</p>
        </div>
        <div class="col-lg-6">
            <%= f.input :address, required: true, label: "Adresse", placeholder: "Ex: 9 Av du renouveau" %>
        </div>
        <div class="col-lg-6">
            <%= f.input :city, required: true, label: "Quartier", placeholder: "Ex: Fidjrossè, Fifadji, Zogbo, Godomey" %>
        </div>
        <div class="col-lg-6">
            <%= f.input :city, required: true, label: "Commune ou Quartier", placeholder: "Ex: Fidjrossè, Fifadji, Zogbo, Godomey" %>
        </div>
    </div>
</div>

<div class="card bg-white border-0 mb-4">
    <div class="form-inputs form-row card-body p-5">
        <div class="col-12">
            <p class="h4 font-weight-bold mb-4">Photos</p>
            <p class="text-info">Les annonces les plus consulutées sont celles qui presentent des photos de bonne qualité, n'hésitez pas a ajouter les photos des différents pièces afin que les locataires potentiels puissent se projeter.</p>
        </div>
        <div class="col-12 form-group">
            <div class="custom-file">
                <%= f.input :property_photos, as: :file, multiple: true, class: "form-control form-control-file custom-file-input" %>
            </div>
        </div>
    </div>
</div>

<% if user_signed_in? and current_user.first_name.blank? and current_user.last_name.blank? and current_user.phone_number.blank? and current_user.address.blank?%>
<%= f.simple_fields_for :user do |user_contact_form| %>
<div class="card bg-white border-0 mb-4">
    <div class="form-inputs form-row card-body p-5">
        <div class="col-12">
            <p class="h4 font-weight-bold mb-4">Information de contact</p>
        </div>
        <div class="col-lg-6">
           <%= user_contact_form.input :first_name, required: true, label: "Prénom" %>
        </div>
        <div class="col-lg-6">
           <%= user_contact_form.input :last_name, required: true, label: "Nom" %>
        </div>
        <div class="col-lg-6">
           <%= user_contact_form.input :phone_number, as: :tel, required: true, label: "Numéros de téléphone"%>
        </div>
        <div class="col-lg-6">
           <%= user_contact_form.input :address, required: true, label: "Adresse"%>
        </div>
    </div>
</div>
<% end %>    
<% end %>

<div class="form-actions form-row mt-4">
    <div class="col-12">
        <%= f.button :submit, @property.new_record? ? "Publiez l'annonce" : "Modifier l'annonce", class: "btn btn-primary btn-lg" %>
    </div>
</div>
<% end %>
