<%= simple_form_for(@property) do |f| %>
<% if @property.errors.any? %>
<div class="notification is-danger">
    <p><%= f.error_notification %></p>
    <p>
        <%= pluralize(@property.errors.count, "erreur", "erreurs") %> ont empêché l'enregistrement de cet annonce:
    </p>
    <ul>
        <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="box">
    <div class="columns is-multiline">
        <div class="column is-12">
            <h4 class="subtitle">Description du bien</h4>
        </div>
        <div class="column is-6">
            <%= f.label :ad_type, class: "label" %>            
            <div class="field">
                <div class="control is-expanded">
                    <div class="select is-fullwidth">
                        <%= f.association :ad_type, input_html: { class: "choix_type_dannonce input" }, wrapper: false, label_html: {class: "label"}, label: false %>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-6">
            <%= f.label :property_type, class: "label" %>            
            <div class="field">
                <div class="control is-expanded">
                    <div class="select is-fullwidth">
                        <%= f.association :property_type, input_html: { class: "choix_type_de_bien input" }, wrapper: false, label_html: {class: "label"}, label: false %>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-12">
            <div class="field">
                <div class="control">
                    <%= f.input :title, wrapper: false, label_html: {class: "label"}, input_html: {class: "input"} %>
                </div>
            </div>
        </div>
        <div class="column is-12">
            <div class="field">
                <div class="control">
                    <%= f.input :description, input_html: { rows: 15 }, input_html: {class: "textarea"}, wrapper: false, label_html: {class: "label"} %>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <%= f.label :room, class: "label" %>            
            <div class="field">
                <div class="control is-expanded">
                    <div class="select is-fullwidth">
                        <%= f.input :room, collection: Property::ROOM, label: false, wrapper: false %>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="field">
                <div class="control">
                    <%= f.input :area, input_html: { min: 1 }, wrapper: false, input_html: {class: "input"}, label_html: {class: "label"} %>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <%= f.label :available, class: "label" %>            
            <div class="field">
                <div class="control is-expanded">
                    <div class="select is-fullwidth">
                        <%= f.input :available, collection: Property::AVAILABLE, label: false, wrapper: false %>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <%= f.label :etage, class: "label" %>            
            <div class="field">
                <div class="control is-expanded">
                    <div class="select is-fullwidth">
                        <%= f.input :etage, collection: Property::ETAGE, label: false, wrapper: false %>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="field">
                <div class="control">
                    <%= f.input :price, input_html: { min: 1 }, wrapper: false, input_html: {class: "input"}, label_html: {class: "label"} %>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="field">
                <div class="control">
                    <%= f.input :deposit, input_html: { min: 1 }, wrapper: false, input_html: {class: "input"}, label_html: {class: "label"} %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="columns is-multiline">
        <div class="column is-12">
            <h4 class="subtitle">Caractéristiques du bien</h4>
        </div>
        <div class="column is-12">
            <div class="field">
                <div class="control">
                    <label class="label">
                        <%= f.input :feature, as: :check_boxes, collection: Property::FEATURE, label: false, wrapper: false %>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="columns is-multiline">
        <div class="column is-12">
            <h4 class="subtitle">Photos du bien</h4>
            <p class="content">
                <small>Une annonce avec photo est 7 fois plus consultée qu'une annonce sans photo. <br> Ajouter les photos des différents pièces et de bonne qualité afin d'attirer plus de locataires potentiels.</small>
            </p>
        </div>
        <% 4.times do |i| %>
        <div class="column is-4">
            <div class="field">
                <div class="control">
                    <div class="file has-name is-boxed">
                        <label class="file-label">
                            <%= f.input :images, as: :file, label: false, wrapper: false, input_html: {name: "property[images][]", class: "file-input", id: "file-#{i + 1}"}, direct_upload: true %>
                            <span class="file-cta">    
                                <span class="file-icon">
                                    <i class="fas fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    <%= "Choisir la photo N° #{i + 1 }" %>
                                </span>
                            </span>
                            <span class="file-name is-large" style="height: 10em;" id="<%= "filename-#{i + 1}" %>" >
                                <figure class="image is-square">
                                    <%= image_tag url_for(@property.images["#{i}".to_i]), size: "200x150" if @property.images["#{i}".to_i].present? %>
                                </figure>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>

<div class="box">
    <div class="columns is-multiline">
        <div class="column is-12">
            <h4 class="subtitle">Localisation du bien</h4>
        </div>
        <div class="column is-6">
            <%= f.label :city, class: "label" %>            
            <div class="field">
                <div class="control is-expanded">
                    <div class="select is-fullwidth">
                        <%= f.association :city, as: :select, prompt: "Sélectionner une commune", wrapper: false, label: false %>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="field">
                <div class="control">
                    <%= f.input :address, label: "Adresse/Quartier", wrapper: false, input_html: {class: "input"}, label_html: {class: "label"} %>
                </div>
            </div>
        </div>
    </div>
</div>

<%# if user_signed_in? %>
<%# if current_user.first_name.blank? && current_user.last_name.blank? && current_user.phone_number.blank? %>
<%#= f.simple_fields_for :user do |user_info| %>
<!-- <div class="card border-0 mb-4 mon-box-shadow"> -->
    <!-- <div class="card-body"> -->
        <!-- <div class="form-row p-2"> -->
            <!-- <div class="column is-12"> -->
                <!-- <h4 class="card-title mb-3">Information de contact</h4> -->
                <!-- </div> -->
                <!-- <div class="column is-6"> -->
                    <%#= user_info.input :first_name, label: "Prénom" %>
                    <!-- </div> -->
                    <!-- <div class="column is-6"> -->
                        <%#= user_info.input :last_name, label: "Nom" %>
                        <!-- </div> -->
                        <!-- <div class="column is-6"> -->
                            <%#= user_info.input :phone_number, as: :tel, label: "Numéro de téléphone" %>
                            <!-- </div> -->
                            <!-- </div> -->
                            <!-- </div> -->
                            <!-- </div> -->
                            <%# end %>
                            <%# end %>
                            <%# end %>
                            <div class="columns">
                                <div class="column is-12">
                                    <%= f.button :submit, @property.persisted? ? "Modifier" : "Ajouter" , class: "button is-info is-medium" %>
                                </div>
                            </div>
                            <% end %>