<%= simple_form_for(@property, html: { class: "" }) do |f| %>

<%= f.error_notification %>

<% if @property.errors.any? %>
    <div class="alert alert-danger" role="alert">
        <h3 class="alert-heading">
            <%= pluralize(@property.errors.count, "erreur", "erreurs") %> prohibited this article from being saved :
        </h3>
        <ul>
            <% @property.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>    
<% end %>

<div class="card bg-white border-0 mb-4">
    <div class=" row card-body p-5">
        <div class="col-12">
            <p class="h4 font-weight-bold text-dark mb-4">Description du bien</p>
        </div>
        <div class="col-lg-6">
            <%= f.association :ad_type, autofocus: true, label: "Type d'annonce" %>
        </div>
        <div class="col-lg-6">
            <%= f.association :property_type, label: "Type de bien" %>
        </div>
        <div class="col-12">
            <%= f.input :title, label: "Titre de l'annonce" %>
        </div>
        <div class="col-12">
            <%= f.input :description, label: "Description du bien", input_html: { rows: 10 } %>
        </div>
        <div class="col-lg-6">
            <%= f.input :room, collection: Property::ROOM, label: "Nombres de pièces" %>
        </div>
        <div class="col-lg-6">
             <%= f.input :area, label: "Surface du bien", hint: "En m2", hint_html: { class: "small" }  %>
        </div>
        <div class="col-lg-3">
            <%= f.input :price, required: true, label: "Loyer", hint: "Par mois", hint_html: { class: "small" } %>
        </div>
        <div class="col-lg-3">
            <%= f.input :avance, required: true, label: "Avance", hint: "Nombres de mois", hint_html: { class: "small" } %>
        </div>
        <div class="col-lg-3">
            <%= f.input :available, collection: [["Oui", true], ["Non", false]], label: "Disponible maintenant ?" %>
        </div>
        <div class="col-lg-3">
            <%= f.input :etage, collection: Property::ETAGE, label: "Etage" %>
        </div>
    </div>
</div>

<div class="card bg-white border-0 mb-4">
    <div class=" row card-body p-5">
        <div class="col-12">
            <p class="h4 font-weight-bold text-dark mb-4">Caractéristiques du bien</p>
        </div>
        <div class="col-12">
            <%= f.input :feature, as: :check_boxes, collection: Property::FEATURE, label: false, wrapper: :vertical_radio_and_checkboxes, wrapper_html: { class: "form-check form-check-inline" }, input_html: { class: "form-check-input p-5" } %>
        </div>
    </div>
</div>

<div class="card bg-white border-0 mb-4">
    <div class=" row card-body p-5">
        <div class="col-12">
            <p class="h4 font-weight-bold text-dark mb-4">Localisation</p>
        </div>
        <div class="col-lg-6">
            <%= f.input :address, required: true, label: "Adresse précise", placeholder: "Ex: 9 Av du renouveau" %>
        </div>
        <div class="col-lg-6">
            <%= f.input :city, required: true, label: "Quartier", placeholder: "Ex: Fidjrossè, Fifadji, Zogbo, Godomey" %>
        </div>
    </div>
</div>

<div class="card bg-white border-0 mb-4">
    <div class="card-body p-5">
        <div class="row">
            <div class="col-12">
                <p class="h4 font-weight-bold mb-4">Photos</p>
                <p class="text-info">Une annonce avec photo est 7 fois plus consultée qu'une annonce sans photo. <br> Ajouter les photos des différents pièces et de bonne qualité afin d'attirer plus d'acheteurs ou locataires potentiels.</p>
            </div>
            <div class="col-12">
                <%= image_tag @property.photos[0], size: "400x400" if @property.photos[0].present? %>
                <%= f.input :photos, label: "Photo 1", input_html: { name: "property[photos][]", class: "form-control-file"}, multiple: true, direct_upload: true, wrapper: :vertical_file_input %>
            </div>
            <div class="col-12">
                <%= image_tag @property.photos[1], size: "400x400" if @property.photos[1].present? %>
                <%= f.input :photos, label: "Photo 2", input_html: { name: "property[photos][]", class: "form-control-file"}, multiple: true, direct_upload: true %>
            </div>
            <div class="col-12">
                <%= image_tag @property.photos[2], size: "400x400" if @property.photos[2].present? %>
                <%= f.input :photos, label: "Photo 3", input_html: { name: "property[photos][]", class: "form-control-file"}, multiple: true, direct_upload: true %>
            </div>
            <div class="col-12">
                <%= image_tag @property.photos[3], size: "400x400" if @property.photos[3].present? %>
                <%= f.input :photos, label: "Photo 4", input_html: { name: "property[photos][]", class: "form-control-file"}, multiple: true, direct_upload: true %>
            </div>
        </div>
    </div>
</div>

<div class="form-actions row mt-4">
    <div class="col-12">
        <%= f.button :submit, @property.new_record? ? "Publiez l'annonce" : "Modifier l'annonce", class: "btn btn-primary btn-lg" %>
    </div>
</div>
<% end %>
