<%= simple_form_for(@property) do |f| %>
    <%= f.error_notification %>
    <p class="h4 font-weight-bold">Information sur le bien</p>
    <hr>
    <div class="form-inputs form-row">
        <div class="col-12">
            <%= f.input :title, autofocus: true, label: "Titre de l'annonce" %>
        </div>
        <div class="col-lg-6">
            <%= f.association :ad_type, include_blank: false, label: "Type d'annonce" %>
        </div>
        <div class="col-lg-6">
            <%= f.association :property_type, include_blank: false, label: "Type de bien" %>
        </div>
        <div class="col-lg-6">
            <%= f.input :area, required: true, label: "Surface du bien" %>
        </div>
        <div class="col-lg-6">
            <%= f.input :price, required: true, label: "Prix" %>
        </div>
        <div class="col-12">
            <%= f.input :description, required: true, label: "Description du bien", input_html: { rows: 8 } %>
        </div>
        <div class="col-6">
            <%= f.input :address, required: true, label: "Adresse du bien" %>
        </div>
        <div class="col-6">
            <%= f.input :city, required: true, label: "Ville" %>
        </div>
    </div>

    <%= f.fields_for :property_photos do |photo_form| %>
        <p class="h4 font-weight-bold ">Ajouter les photos</p>
        <hr>
        <div class="form-inputs form-row">
            <div class="col-12 form-group">
                <%= photo_form.label "Photo 1", class: "control-label" %>
                <%= photo_form.file_field :photo, name: "property_photos[photo][]", class: "form -control form-control-file" %>
            </div>
            <div class="col-12 form-group">
                <%= photo_form.label "Photo 2", class: "control-label" %>
                <%= photo_form.file_field :photo, name: "property_photos[photo][]", class: "form -control form-control-file" %>
            </div>
            <div class="col-12 form-group">
                <%= photo_form.label "Photo 3", class: "control-label" %>
                <%= photo_form.file_field :photo, name: "property_photos[photo][]", class: "form -control form-control-file" %>
            </div>
            <div class="col-12 form-group">
                <%= photo_form.label "Photo 4", class: "control-label" %>
                <%= photo_form.file_field :photo, name: "property_photos[photo][]", class: "form -control form-control-file" %>
            </div>
            <div class="col-12 form-group">
                <%= photo_form.label "Photo 5", class: "control-label" %>
                <%= photo_form.file_field :photo, name: "property_photos[photo][]", class: "form -control form-control-file" %>
            </div>
        </div>
    <% end %>

        <% if current_user.phone_number.blank? %>            
            <%= f.fields_for :user do |user_form| %>
                <p class="h4 font-weight-bold">Information de contact</p>
                <hr>
                <div class="form-inputs form-row">
                    <div class="col-12 form-group">
                        <%= user_form.label "Numéros de téléphone", class: "control-label" %>
                        <%= user_form.phone_field :phone_number, class: "form-control" %>
                    </div>
                </div>
            <% end %>
        <% end %>

        <div class="form-actions form-row mt-4">
            <div class="col-12">
                <%= f.button :submit, "Valider", class: "btn btn-primary btn-lg btn-block" %>
            </div>
        </div>
<% end %>