<%= simple_form_for(@property) do |f| %>
<%= f.error_notification %>

<% if @property.errors.any? %>
<div class="alert alert-danger" role="alert">
    <p>
        <%= pluralize(@property.errors.count, "erreur", "erreurs") %> ont empêché l'enregistrement de cet annonce:
    </p>
    <ul>
        <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="card border-0 mb-4 mon-box-shadow">
    <div class="card-body">
        <div class="form-row p-2">
            <div class="col-12">
                <h4 class="card-title mb-3">Description du bien</h4>
            </div>
            <div class="col-12">
                <%= f.input :title, autofocus: true %>
            </div>
            <div class="col-12">
                <%= f.input :description, input_html: { rows: 10 } %>
            </div>
            <div class="col-md-4">
                <%= f.input :ad_type, collection: ["Location"] %>
            </div>
            <div class="col-md-4">
                <%= f.input :property_type, collection: ["Appartement", "Maison", "Bureau", "Commerce", "Villa", "Chambre","Entrée couché"] %>
            </div>
            <div class="col-md-4">
                <%= f.input :room, collection: ["1 pièce", "2 pièces", "3 pièces", "4 pièces", "5 pièces", "plus de 5 pièces"] %>
            </div>
            <div class="col-md-4">
             <%= f.input :area %>
         </div>
         <div class="col-md-4">
            <%= f.input :available, collection: [[false, "Nom"], [true, "Oui"]], label_method: :second, value_method: :first %>
        </div>
        <div class="col-md-4">
            <%= f.input :etage, collection: ["Rez-de-chaussée", "1er étage", "2ème étage", "3ème étage", "4ème étage", "5ème étage"] %>
        </div>
        <div class="col-md-4">
            <%= f.input :price %>
        </div>
        <div class="col-md-4">
            <%= f.input :deposit, input_html: { min: 1 } %>
        </div>
    </div>
</div>
</div>

<div class="card border-0 mb-4 mon-box-shadow">
    <div class="card-body">
        <div class="form-row p-2">
            <div class="col-12">
                <h4 class="card-title mb-3">Caractéristiques du bien</h4>
            </div>
            <div class="col-12">
                <div class="form-check">
                    <%= f.input_field :feature, as: :check_boxes, collection: ["Electricité", "Eau", "WC", "Internet"], label: false, input_html: { class: "form-check-input" } %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card border-0 mb-4 mon-box-shadow">
    <div class="card-body">
        <div class="form-row p-2">
            <div class="col-12">
                <h4 class="card-title mb-3">Photos du bien</h4>
                <p class="card-text text-info mb-3">Une annonce avec photo est 7 fois plus consultée qu'une annonce sans photo. <br> Ajouter les photos des différents pièces et de bonne qualité afin d'attirer plus de locataires potentiels.</p>
            </div>

            <% 3.times do |i| %>
            <div class="col-md-4">
                <%= f.input :images, as: :file, label: "Photo #{i}", input_html: { name: "property[images][]", class: "form-control-file"}, direct_upload: true %>
                <%= image_tag url_for(@property.images["#{i}".to_i]), size: "200x150" if @property.images["#{i}".to_i].present? %>
            </div>
            <% end %>

        </div>
    </div>
</div>

<div class="card border-0 mb-4 mon-box-shadow">
    <div class="card-body">
        <div class="form-row p-2">
            <div class="col-12">
                <h4 class="card-title mb-3">Localisation du bien</h4>
            </div>
            <div class="col-md-6">
                <%= f.input :address %>
            </div>
            <div class="col-md-6">
                <%= f.input :city %>
            </div>
        </div>
    </div>
</div>

<% if user_signed_in? %>
<% if current_user.role == "Agent immobilier" && current_user.first_name.blank? && current_user.last_name.blank? && current_user.phone_number.blank? %>
<%= f.simple_fields_for :user_info do |user_info| %>
<div class="card border-0 mb-4 mon-box-shadow">
    <div class="card-body">
        <div class="form-row p-2">
            <div class="col-12">
                <h4 class="card-title mb-3">Information de contact</h4>
            </div>
            <div class="col-md-6">
                <%= user_info.input :first_name %>
            </div>
            <div class="col-md-6">
                <%= user_info.input :last_name %>
            </div>
            <div class="col-md-6">
                <%= user_info.input :phone_number, as: :tel %>
            </div>
        </div>
    </div>
</div>
<% end %>
<% end %>
<% end %>

<div class="form-row">
    <div class="col-12">
        <%= f.button :submit, @property.persisted? ? "Modifier l'annonce" : "Publiez l'annonce" , class: "btn btn-primary btn-lg" %>
    </div>
</div>
<% end %>
