<%= form_with model: @property do |f| %>
<% if @property.errors.any? %>
<div class="notification is-danger">
    <p>
        <%= pluralize(@property.errors.count, "erreur", "erreurs") %> ont empêché l'enregistrement de cet annonce:
    </p>
    <ul>
        <% @property.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="box">
    <div class="columns is-multiline">
        <div class="column is-12">
            <h4 class="title">Description du bien</h4>
        </div>
        <div class="column is-12">
            <div class="field">
                <div class="control">
                    <%= f.text_field :title, class: "input" %>
                </div>
            </div>
        </div>
        <div class="column is-12">
            <div class="field">
                <div class="control">
                    <%= f.text_area :description, input_html: { rows: 10 }, class: "textarea" %>
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="field">
                <div class="control is-expanded">
                    <div class="select is-fullwidth">
                        <%= f.select :ad_type, AdType.all.collect {|p| [p.name, p.name]}, prompt: "Type d'annonce", class: "input choix_type_dannonce" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="field">
                <div class="control is-expanded">
                    <div class="select is-fullwidth">
                        <%= f.select :property_type, PropertyType.all.collect {|p| [p.name, p.name]}, prompt: "Type de bien", class: "choix_type_de_bien" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="field">
                <div class="control">
                    <div class="select">
                        <%= f.select :room, Property::ROOM, prompt: "Nombre de pièces" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="field">
                <div class="control">
                    <%= f.number_field :area, input_html: { min: 1 }, class: "input" %>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="field">
                <div class="control">
                    <div class="select">
                        <%= f.select :available, Property::AVAILABLE, prompt: "Disponible ?" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="field">
                <div class="control">
                    <div class="select">
                        <%= f.select :etage, Property::ETAGE, prompt: "Éétage" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="field">
                <div class="control">
                    <%= f.number_field :price, input_html: { min: 1 }, class: "input" %>
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="field">
                <div class="control">
                    <%= f.number_field :deposit, input_html: { min: 1 }, class: "input" %>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="box">
    <div class="columns is-multiline">
        <div class="column is-12">
            <h4 class="subtitle">Caractéristiques du bien</h4>
        </div>
        <div class="column is-12">
            <div class="field">
                <div class="control">
                    <%= f.text_field :feature, as: :check_boxes, collection: Property::FEATURE, wrapper: :vertical_collection_inline %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="columns is-multiline">
        <div class="column is-12">
            <h4 class="subtitle">Photos du bien</h4>
            <p>
                <small>Une annonce avec photo est 7 fois plus consultée qu'une annonce sans photo. <br> Ajouter les photos des différents pièces et de bonne qualité afin d'attirer plus de locataires potentiels.</small>
            </p>
        </div>
        <div class="column is-12">
            <% 4.times do |i| %>
            <div class="field">
                <div class="control">
                    <%= f.file_field :images, input_html: { name: "property[images][]", class: "input"}, direct_upload: true, wrapper: :horizontal_file %>
                    <%= image_tag url_for(@property.images["#{i}".to_i]), size: "200x150" if @property.images["#{i}".to_i].present? %>
                </div>
            </div>            
            <% end %>
        </div>
    </div>
</div>

<div class="box">
    <div class="columns is-multiline">
        <div class="column is-12">
            <h4 class="subtitle">Localisation du bien</h4>
        </div>
        <div class="column is-4">
            <div class="field">
                <div class="control">
                    <div class="select">
                        <%= f.select :city, City.all.collect {|p| [p.name, p.name]}, prompt: "Commune" %>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-8">
            <div class="field">
                <div class="control">
                    <%= f.text_field :address, label: "Adresse/Quartier", class: "input" %>
                </div>
            </div>
        </div>
    </div>
</div>

<% if user_signed_in? %>
<% if current_user.first_name.blank? && current_user.last_name.blank? && current_user.phone_number.blank? %>
<%= f.fields_for :user do |user_info| %>
<div class="card border-0 mb-4 mon-box-shadow">
    <div class="card-body">
        <div class="form-row p-2">
            <div class="col-12">
                <h4 class="card-title mb-3">Information de contact</h4>
            </div>
            <div class="col-md-6">
                <%= user_info.input :first_name, label: "Prénom" %>
            </div>
            <div class="col-md-6">
                <%= user_info.input :last_name, label: "Nom" %>
            </div>
            <div class="col-md-6">
                <%= user_info.input :phone_number, as: :tel, label: "Numéro de téléphone" %>
            </div>
        </div>
    </div>
</div>
<% end %>
<% end %>
<% end %>
<div class="form-row">
    <div class="col-12">
        <%= f.submit :submit, class: "button is-info" %>
    </div>
</div>
<% end %>
    <!-- , @property.persisted? ? "Modifier" : "Ajouter" , -->