<% provide :page_title, "Resultat de recherche"  %>

<section class="container-fluid py-4" style="background-color: #FAFAFA;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Afinner votre recherche</h3>
                <%= render "shareds/property_search_form" %>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="container">
        <div class="row py-4">
            <div class="col-12">
                <% if @total_properties > 1 %>
                    <p><%= @total_properties %> resultats trouvés</p>
                <% else %>
                    <p><%= @total_properties %> resultat trouvé</p>
                <% end %>
            </div>

            <% if @properties.present? %>
                <% @properties.each do |property| %>
                <div class="col-lg-4">
                    <%= link_to property, class: "sans-text-decoration" do %>
                        <div class="card mb-4 liste-card-recherche text-secondary">
                            <%= image_tag property.property_photos.first.photo_url, class: "card-img-top", alt: "Photo de lannonce : #{ property.title }", height: "225px" %>
                            <% if property.ad_type.name == "A vendre" %>
                                <small class="position-absolute text-white badge-secondary px-3 py-1 font-weight-bold" style="top: 15px; left: 15px;">
                                    <%= property.ad_type.name %>
                                </small>                
                            <% elsif property.ad_type.name == "A louer" %>
                                <small class="position-absolute text-white badge-secondary px-3 py-1 font-weight-bold" style="top: 15px; left: 15px;">
                                    <%= property.ad_type.name %>
                                </small>
                            <% end %>
                            <div class="card-body p-3">
                                <h5 class="card-title font-weight-bold">
                                    <%= truncate(strip_tags(property.title.capitalize), length: 25) %>
                                </h5>
                                <address class="card-text text-muted">
                                    <i class="fas fa-map-marker-alt"></i>&nbsp; <%= property.address %>, <%= property.city %>
                                </address>
                                <% if property.ad_type.name == "A vendre" %>
                                    <p class="text-secondary m-0 p-0 h3">
                                        <%= sprintf("%0.00f", property.price) %><sup>F</sup>
                                    </p>                       
                                <% elsif property.ad_type.name == "A louer" %>
                                    <p class="text-secondary m-0 p-0 h3">
                                         <%= sprintf("%0.00f", property.price) %><sup>F</sup><small>/mois</small>
                                    </p>
                                <% end %>


                                 <p class="m-0 ">
                                    <small class="sr-only">Il y a <%= time_ago_in_words(property.created_at) %></small>
                                </p>
                            </div>
                            <hr class="m-0">
                            <div class="card-body p-3">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <h5 class="card-title font-weight-bold"></h5>
                                        <p></p>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5 class="card-title font-weight-bold"></h5>
                                        <p></p>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5 class="card-title font-weight-bold"></h5>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    <% end %>                    
                </div>
            <% end %>
            <% else %>
                <p>Aucun résultat trouvé !</p>
            <% end %>

            <div class="col-12">
                <p class="m-0">
                    <%= paginate @properties, :theme => 'twitter-bootstrap'  %>
                </p>
            </div>

        </div>
    </div>
</section>