<% provide :page_title, "Resultat de recherche"  %>

<section class="container-fluid d-flex align-items-center mb-0 p-0 barre-recherche-avance">
    <div class="container">
        <div class="row bg-white py-3" style="border-radius: 5px;">
            <div class="col-12">
                <%= render "shareds/property_search_form" %>
            </div>
            <div class="col-12">                
                <p>Advanced Search</p>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card bg-white border-0">
                            <div class="card-body">
                                <h5 class="text-secondary font-weight-bold">Type de bien</h5>
                                <ul class="list-unstyled">
                                    <% @property_types.each do |property_type| %>
                                    <li>
                                        <%= link_to properties_path(property_type: property_type.name), class: "text-secondary" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; <%= property_type.name %>
                                        <% end %>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card bg-white border-0">
                            <div class="card-body">
                                <h5 class="text-secondary font-weight-bold">Type d'annonce</h5>
                                <ul class="list-unstyled">
                                    <% @ad_types.each do |ad_type| %>
                                    <li>
                                        <%= link_to properties_path(ad_type: ad_type.name), class: "text-secondary" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; <%= ad_type.name %>
                                        <% end %>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card bg-white border-0">
                            <div class="card-body">
                                <h5 class="text-secondary font-weight-bold">Biens par ville</h5>
                                <ul class="list-unstyled">
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% if @properties.present? %>
            <section class="col-lg-8">
                <section class="row">
                    <div class="col-12">
                        <div class="card border-0 bg-transparent">
                            <p><%= pluralize(@properties_numbers, "annonce trouvé", "annonces trouvés") %></p>
                        </div>
                    </div>
                    <% @properties.each do |property| %>
                    <div class="col-lg-6">
                        <%= link_to property, class: "sans-text-decoration" do %>
                        <div class="card mb-4 liste-card-recherche text-dark">
                            <%= image_tag property.property_photos.first.photo_url, class: "card-img-top", alt: "Photo de #{ property.title }", height: "200px" %>
                            <% if property.ad_type.name == "Vente" %>
                            <span class="position-absolute badge badge-secondary p-2" style="top: 15px; left: 15px;">A vendre</span>
                            <% elsif property.ad_type.name == "Location" %>
                            <span class="position-absolute badge badge-secondary p-2" style="top: 15px; left: 15px;">A louer</span>
                            <% end %>
                            <div class="card-body p-3">
                                <h5 class="card-title font-weight-bold text-secondary">
                                    <%= truncate(strip_tags(property.title.capitalize), length: 25) %>
                                </h5>
                                <address class="card-text text-secondary">
                                    <i class="fas fa-map-marker-alt"></i>&nbsp; <%= property.address %>, <%= property.city %>
                                </address>
                                <% if property.ad_type.name == "Vente" %>
                                <p class="text-primary m-0 p-0 h3">
                                    <%= number_with_delimiter(sprintf("%0.00f", property.price)) %><sup>f</sup>
                                </p>
                                <% elsif property.ad_type.name == "Location" %>
                                <p class="text-primary m-0 p-0 h3">
                                    <%= number_with_delimiter(sprintf("%0.00f", property.price)) %><sup>f</sup>/<small>mois</small></sup>
                                </p>
                                <% end %>
                                <hr>
                                <p class="m-0 ">
                                    <small>Publié le <%= property.created_at.strftime("%e %B") %></small>
                                    <small class="sr-only">Il y a <%= time_ago_in_words(property.created_at) %></small>
                                </p>
                            </div>
                        </div>
                        <% end %>
                    </div>
                    <% end %>
                    <div class="col-12">
                        <p class="m-0"><%= paginate @properties, :theme => 'twitter-bootstrap' %></p>
                    </div>
                </section>
            </section>
            <% else %>
            <div class="col-lg-8">
                <div class="card bg-transparent border-0">
                    <p>Aucun résultat trouvé !</p>
                </div>
            </div>
            <% end %>

        </div>
    </div>
</section>
