<% provide :page_title, "Resultat de recherche"  %>

<section class="container-fluid" style="background-color: #FAFAFA;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Afinner votre recherche</h1>

        <%= form_with url: accueil_path, method: :get, local: true do |form|  %>
                        <div class="row px-1">
                            <div class="col-md-3 px-0">
                                <!--  style="box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25) !important;" -->
                            <%= form.text_field :city, required: true, placeholder: "Nom de votre ville ou quartier. Ex: Agla, Zogbo, Fifadji", class: 'form-control form-control-lg supri-bordu' %>
                            </div>
                            <div class="col-md-3 px-0">
                            <%= form.text_field :city, required: true, placeholder: "Nom de votre ville ou quartier. Ex: Agla, Zogbo, Fifadji", class: 'form-control form-control-lg supri-bordu' %>
                            </div>
                            <div class="col-md-4 px-0">
                            <%= form.text_field :city, required: true, placeholder: "Ou cherchez-vous ? Ex: Agla, Zogbo", class: 'form-control form-control-lg supri-bordu' %>
                            </div>
                            <div class="col-md-2 px-0">
                            <%= form.submit "Rechercher", name: nil, class: 'btn btn-primary btn-lg btn btn-block supri-bordu' %>
                            </div>
                        </div>
                    <% end %>

      </div>
    </div>
  </div>
</section>

<section class="container-fluid">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <h1>Properties List – All Properties</h1>
      </div>
    </div>

    <div class="row py-5">

        <% @properties.each do |property| %>

          <div class="col-12 mb-4">
              <div class="row border">
                <div class="col-lg-3 px-0">
                  <img src="https://picsum.photos/200" alt="" class="img-fluid w-100">
                </div>
                <div class="col-lg-9 p-3">
                  <h2>Beautiful home for sale in Chicago</h2>
                  adresse
                </div>
              </div>
          </div>

          <div class="col-12 mb-4">
              <div class="row border">
                <div class="col-lg-3 px-0">
                  <img src="https://picsum.photos/200" alt="" class="img-fluid w-100">
                </div>
                <div class="col-lg-9 p-3">
                  <h2>Titre</h2>
                  adresse
                </div>
              </div>
          </div>

          <div class="col-12 mb-4">
              <div class="row border">
                <div class="col-lg-3 px-0">
                  <img src="https://picsum.photos/200" alt="" class="img-fluid w-100">
                </div>
                <div class="col-lg-9 p-3">
                  <h2>Titre</h2>
                  adresse
                </div>
              </div>
          </div>

          <div class="col-12 mb-4">
              <div class="row border">
                <div class="col-lg-3 px-0">
                  <img src="https://picsum.photos/200" alt="" class="img-fluid w-100">
                </div>
                <div class="col-lg-9 p-3">
                  <h2>Titre</h2>
                  adresse
                </div>
              </div>
          </div>

        <% end %>

    </div>
  </div>
</section>


  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.property_type %></td>
        <td><%= property.ad_type %></td>
        <td><%= property.title %></td>
        <td><%= property.price %></td>
        <td><%= property.area %></td>
        <td><%= property.description %></td>
        <td><%= property.address %></td>
        <td><%= property.city %></td>
        <td><%= property.image1 %></td>
        <td><%= property.image2 %></td>
        <td><%= property.image3 %></td>
        <td><%= property.latitude %></td>
        <td><%= property.longitude %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
