<% provide :page_title, "Resultat de recherche"  %>

<section class="container-fluid py-5" style="background-color: #FAFAFA;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Afinner votre recherche</h3>
                <%= render "shareds/property_search_form" %>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid">
    <div class="container">
        <div class="row py-5">
            <div class="col-12">
                <p><%= @total_properties %> résultats trouvés</p>
            </div>

            <% @properties.each do |property| %>
                <div class="col-lg-4">
                    <div class="card mb-4 liste-card-recherche">
						<%= image_tag property.property_photos.first.photo_url, class: "card-img-top", alt: "Photo de lannonce : #{ property.title }", height: "250px" %>
                        <% if property.ad_type.name == "A vendre" %>
                            <small class="position-absolute text-white badge-success px-2 py-1 font-weight-bold" style="top: 10px; left: 10px;"><%= property.ad_type.name %></small>                                
                        <% elsif property.ad_type.name == "A louer" %>
                            <small class="position-absolute text-white badge-secondary px-2 py-1 font-weight-bold" style="top: 10px; left: 10px;"><%= property.ad_type.name %></small>
                        <% end %>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">
                            	<%= link_to truncate(property.title.capitalize, length: 25), property %>
                            </h5>
                            <address class="card-text">
                                <i class="fas fa-map-marker-alt"></i>&nbsp; <%= property.address %>, <%= property.city %>
                            </address>
                            <% if property.ad_type.name == "A vendre" %>
	                            <p class="h5 m-0 p-0 font-weight-bold"><%= sprintf("%0.00f", property.price) %><sup>F</sup></p>
                            <% elsif property.ad_type.name == "A louer" %>
                            	<p class="h5 m-0 p-0 font-weight-bold"><%= sprintf("%0.00f", property.price) %><sup>F</sup><small>/mois</small></p>
                            <% end %>
                            <p class="m-0 sr-only">
                                <small>Il y a <%= time_ago_in_words(property.created_at) %></small>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>

        </div>
    </div>
</section>