<% content_for :page_title, "Resultat de recherche"  %>

<section class="d-flex align-items-center mb-0 p-0 barre-recherche-avance">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-white">Affiner votre recherche</h2>
            </div>            
            <div class="col-12 py-3" style="border-radius: 5px; background-color: rgba(0, 0, 0, 0.3) !important;">
                <%= render "shareds/property_search_form_in_result_page" %>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card bg-white border-0">
                            <div class="card-body">
                                <h5 class="bold mb-3">Type de bien</h5>
                                <ul class="list-unstyled">
                                    <% @property_types.each do |property_type| %>
                                    <li class="my-2">
                                        <%= link_to properties_path(property_type: property_type), class: "text-dark" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; <%= property_type %>
                                        <% end %>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card bg-white border-0">
                            <div class="card-body">
                                <h5 class="mb-3">Type d'annonce</h5>
                                <ul class="list-unstyled">
                                    <% @ad_types.each do |ad_type| %>
                                    <li class="my-2">
                                        <%= link_to properties_path(ad_type: ad_type), class: "text-dark" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; <%= ad_type %>
                                        <% end %>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card bg-white border-0">
                            <div class="card-body">
                                <h5 class="mb-3">Biens par Commune</h5>
                                <ul class="list-unstyled sr-only">
                                    <li class="my-2">
                                        <%= link_to "", class: "text-dark" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; Cotonou
                                        <% end %>
                                    </li>
                                    <li class="my-2">
                                        <%= link_to "", class: "text-dark" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; Porto-Novo
                                        <% end %>
                                    </li>
                                    <li class="my-2">
                                        <%= link_to "", class: "text-dark" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; Abomey-Calavi
                                        <% end %>
                                    </li>
                                    <li class="my-2">
                                        <%= link_to "", class: "text-dark" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; Godomey
                                        <% end %>
                                    </li>
                                    <li class="my-2">
                                        <%= link_to "", class: "text-dark" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; Parakou
                                        <% end %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% if @properties.present? %>
            <section class="col-lg-8">
                <section class="row">
                    <div class="col-lg-12">
                        <p><%= pluralize(@properties_numbers, "annonce trouvé", "annonces trouvés") %></p>
                    </div>

                    <% @properties.each do |property| %>
                    <!-- Grid design -->
                    <div class="col-lg-6 mb-4">
                        <%= link_to property, class: "sans-text-decoration" do %>
                        <div class="card liste-card-recherche text-dark">
                            <% if property.photos.attached? %>
                            <%= image_tag property.photos.first, class: "card-img-top", alt: "Photo de #{ property.title }", height: "200px" %>
                            <% else %>
                            <p>ANNONCE SANS PHOTO</p>
                            <% end %>

                            <% if property.ad_type == "Vente" %>
                            <h4><span class="position-absolute badge badge-secondary p-2" style="top: 10px; left: 10px;">A vendre</span></h4>
                            <% elsif property.ad_type == "Location" %>
                            <h4><span class="position-absolute badge badge-secondary p-2" style="top: 10px; left: 10px;">A louer</span></h4>
                            <% end %>

                            <% if user_signed_in? %>
                            <% if current_user.admin? and property.published %>
                            <h4><span class="position-absolute badge badge-success p-2" style="top: 10px; right: 10px;">En ligne</span></h4>
                            <% elsif current_user.admin? and !property.published %>
                            <h4><span class="position-absolute badge badge-danger p-2" style="top: 10px; right: 10px;">Hors ligne</span></h4>
                            <% end %>
                            <% end %>

                            <div class="card-body p-3">
                                <h5 class="card-title font-weight-bold text-dark">
                                    <%= truncate(strip_tags(property.title.capitalize), length: 25) %>
                                </h5>
                                <address class="card-text text-dark">
                                    <i class="fas fa-map-marker-alt"></i>&nbsp; <%= property.address %>, <%= property.city %>
                                </address>
                                <% if property.ad_type == "Vente" %>
                                <p class="text-primary m-0 p-0 h3">
                                    <%= number_to_currency(property.price, precision: 0) %>
                                </p>
                                <% elsif property.ad_type == "Location" %>
                                <p class="text-primary m-0 p-0 h3">
                                    <%= number_to_currency(property.price, precision: 0) %>/mois
                                </p>
                                <% end %>
                            </div>

                            <div class="card-footer bg-white" style="border-top: 1px solid #dee2e6 !important;">
                                <p class="m-0 ">
                                    <small>Publié il y a <%= distance_of_time_in_words(property.published_at, Time.now, include_seconds: false) %></small>
                                </p>
                            </div>
                        </div>
                        <% end %>
                    </div>
                    <!-- Grid design -->
                    <% end %>

                    <div class="col-12">
                        <%= will_paginate @properties %>
                    </div>
                </section>
            </section>
            <% else %>
            <div class="col-lg-8">
                <div class="card bg-transparent border-0">
                    <p>Aucun résultat trouvé !</p>
                </div>
            </div>
            <% end %>

        </div>
    </div>
</section>
