<% content_for :page_title, "Resultat de recherche"  %>

<section class="d-flex align-items-center mb-0 p-0 barre-recherche-avance">
    <div class="container">
        <div class="row py-3 mx-1" style="border-radius: 5px; background-color: rgba(0, 0, 0, 0.3) !important;">
            <div class="col-12">
                <%= render "shareds/property_search_form" %>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card bg-white border-0">
                            <div class="card-body">
                                <h5 class="text-dark bold mb-3">Type de bien</h5>
                                <ul class="list-unstyled">
                                    <% @property_types.each do |property_type| %>
                                    <li class="my-2">
                                        <%= link_to properties_path(property_type: property_type.name), class: "text-secondary" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; <%= property_type.name %>
                                        <% end %>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card bg-white border-0">
                            <div class="card-body">
                                <h5 class="text-dark mb-3">Type d'annonce</h5>
                                <ul class="list-unstyled">
                                    <% @ad_types.each do |ad_type| %>
                                    <li class="my-2">
                                        <%= link_to properties_path(ad_type: ad_type.name), class: "text-secondary" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; <%= ad_type.name %>
                                        <% end %>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="card bg-white border-0">
                            <div class="card-body">
                                <h5 class="text-dark mb-3">Biens par Commune</h5>
                                <ul class="list-unstyled">
                                    <li class="my-2">
                                        <%= link_to "", class: "text-secondary" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; Cotonou
                                        <% end %>
                                    </li>
                                    <li class="my-2">
                                        <%= link_to "", class: "text-secondary" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; Porto-Novo
                                        <% end %>
                                    </li>
                                    <li class="my-2">
                                        <%= link_to "", class: "text-secondary" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; Abomey-Calavi
                                        <% end %>
                                    </li>
                                    <li class="my-2">
                                        <%= link_to "", class: "text-secondary" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; Godomey
                                        <% end %>
                                    </li>
                                    <li class="my-2">
                                        <%= link_to "", class: "text-secondary" do %>
                                        <i class="fas fa-arrow-right"></i>&nbsp; Parakou
                                        <% end %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <% if @properties.present? %>
            <section class="col-lg-8">
                <section class="row">
                    <div class="col-lg-12">
                        <p><%= pluralize(@properties_numbers, "annonce trouvé", "annonces trouvés") %></p>
                    </div>

                    <% @properties.each do |property| %>
                    <!-- Grid design -->
                    <div class="col-lg-6">
                        <%= link_to property, class: "sans-text-decoration" do %>
                        <div class="card mb-4 liste-card-recherche text-dark">
                            <%= image_tag property.property_photos.first.photo_url, class: "card-img-top", alt: "Photo de #{ property.title }", height: "200px" %>

                            <% if property.ad_type.name == "Vente" %>
                            <p class="h4">
                                <span class="position-absolute badge badge-secondary p-2 rounded-0" style="top: 15px; left: 0px;">A vendre</span>
                            </p>
                            <% elsif property.ad_type.name == "Location" %>
                            <p class="h4">
                                <span class="position-absolute badge badge-secondary p-2 rounded-0" style="top: 15px; left: 0px;">A louer</span>
                            </p>
                            <% end %>

                            <% if user_signed_in? and current_user.role == "Administrateur" %>
                            <% if property.published? %>
                            <p class="h4">
                                <span class="position-absolute badge badge-success p-2 rounded-0" style="top: 15px; right: 0px;">ONLINE</span>
                            </p>
                            <% else %>
                            <p class="h4">
                                <span class="position-absolute badge badge-danger p-2 rounded-0" style="top: 15px; right: 0px;">OFFLINE</span>
                            </p>
                            <% end%>
                            <% end %>

                            <div class="card-body p-3">
                                <h5 class="card-title font-weight-bold text-dark">
                                    <%= truncate(strip_tags(property.title.capitalize), length: 25) %>
                                </h5>
                                <address class="card-text text-dark">
                                    <i class="fas fa-map-marker-alt"></i>&nbsp; <%= property.address %>, <%= property.city %>
                                </address>
                                <% if property.ad_type.name == "Vente" %>
                                <p class="text-primary m-0 p-0 h3">
                                    <%= number_with_delimiter(sprintf("%0.00f", property.price)) %><sup>f</sup>
                                </p>
                                <% elsif property.ad_type.name == "Location" %>
                                <p class="text-primary m-0 p-0 h3">
                                    <%= number_with_delimiter(sprintf("%0.00f", property.price)) %><sup>f</sup>/<small>mois</small></sup>
                                </p>
                                <% end %>                                
                            </div>

                            <div class="card-footer bg-white" style="border-top: 1px solid #dee2e6 !important;">
                                <p class="m-0 ">
                                    <small>Publié le <%= property.created_at.strftime("%e %B") %></small>
                                    <small class="sr-only">Il y a <%= time_ago_in_words(property.created_at) %></small>
                                </p>
                            </div>
                        </div>
                        <% end %>
                    </div>
                    <!-- Grid design -->
                    <% end %>

                    <div class="col-12">
                        <p class="m-0"><%= paginate @properties, :theme => 'twitter-bootstrap' %></p>
                    </div>
                </section>
            </section>
            <% else %>
            <div class="col-lg-8">
                <div class="card bg-transparent border-0">
                    <p>Aucun résultat trouvé !</p>
                </div>
            </div>
            <% end %>

        </div>
    </div>
</section>
