<% content_for :page_title, "Resultat de recherche" %>
<% content_for :page_meta_description, "Resultat de recherche" %>
<% content_for :page_meta_keywords, "Chambre a louer cotonou, Parcelle a vendre Benin, Appartement a louer cotonou, Boutique a louer cotonou" %>

<section class="section resultat-de-recherche">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-12">
                <h2 class="has-text-white subtitle">Recherche avancée</h2>
            </div>
            <div class="column is-12" style="background-color: rgba(0, 0, 0, 0.3) !important;">
                <%= form_with url: rechercher_un_bien_properties_path, method: :get, local: true do |f| %>
                <div class="columns is-multiline">
                    <div class="column is-4">
                        <div class="field">
                            <div class="control">
                                <div class="select is-medium">
                                    <%= f.collection_select :property_type, PropertyType.all, :name, :name, { prompt: "Type de bien" }, { required: true} %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="field">
                            <div class="control">
                                <div class="select is-medium">
                                    <%= f.collection_select :ad_type, AdType.all, :name, :name, { prompt: "Type d'annonce" }, {required: true} %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="field">
                            <div class="control">
                                <%= f.text_field :city, placeholder: "Ou ? Ex: Fidjrossè, Abomey-Calavi", class: "input", required: true %>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <div class="select is-medium">
                                    <%= f.select :room, Property::ROOM, { prompt: "Nombres de pièce" }, {required: true} %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <%= f.number_field :price, placeholder: "Loyer ou prix maximum", class: "input is-medium", required: true %>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <%= f.number_field :area, placeholder: "Surface minimum", class: "input is-medium", required: true %>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="control">
                                <%= f.submit "Rechercher", class: "button is-info is-medium" %>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>

<section class="section container">
    <div class="columns">
        <div class="column is-3">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <nav class="box">
                        <h3 class="subtitle">Type de bien</h3>
                        <ul class="content" style="list-style-type: none;">
                            <% PropertyType.all.each do |property_type| %>
                            <li>
                               <%= link_to rechercher_un_bien_properties_path(property_type: property_type.name), class: "has-text-dark" do %>
                               <span><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>&nbsp; <%= property_type.name %></span>
                               <span>(<%= property_type.properties.count %>)</span>
                               <% end %>
                           </li>
                           <% end %>
                       </ul>
                   </nav>
               </div>
               <div class="column is-12">
                <div class="box">
                    <h3 class="subtitle">Type d'annonce</h3>
                    <ul class="content" style="list-style-type: none;">
                        <% AdType.all.each do |ad_type| %>
                        <li class="my-3">
                            <%= link_to rechercher_un_bien_properties_path(ad_type: ad_type.name), class: "has-text-dark" do %>
                            <span><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>&nbsp; <%= ad_type.name %></span>
                            <span>(<%= ad_type.properties.count %>)</span>
                            <% end %>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="column is-12">
                <div class="box">
                    <h3 class="subtitle">Biens par Commune</h3>
                    <ul class="content" style="list-style-type: none;">
                        <li class="my-2">
                            <%= link_to "", class: "has-text-dark" do %>
                            <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>&nbsp; Cotonou
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <% if @properties.present? %>
    <section class="column is-8">
        <section class="colums">
            <div class="column">
                <div class="notification is-success">
                    <p class="mb-0"><%= pluralize(@properties_numbers, "annonce trouvé", "annonces trouvés") %></p>
                </div>
            </div>

            <% @properties.each do |property| %>
            <div class="column">
                <div class="card result_search_list_design shadow-sm">
                    <div class="columns">
                        <div class="column  pr-lg-0 d-flex flex-column justify-content-center align-items-center">
                            <% if property.ad_type.name == "À vendre" %>
                            <h5 class="position-absolute" style="top: 10px; left: 20px;">
                                <span class="badge badge-secondary p-2" >À vendre</span>
                            </h5>
                            <% elsif property.ad_type.name == "À louer" %>
                            <h5 class="position-absolute" style="top: 10px; left: 20px;">
                                <span class="badge badge-secondary p-2">À louer</span>
                                <% end %>
                            </h5>

                            <% if user_signed_in? %>
                            <% if current_user.admin? and property.published %>
                            <span class="position-absolute badge badge-success p-2" style="top: 10px; right: 20px;">En ligne</span>
                            <% elsif current_user.admin? and !property.published %>
                            <span class="position-absolute badge badge-danger p-2" style="top: 10px; right: 20px;">Hors ligne</span>
                            <% end %>
                            <% end %>

                            <% if property.images.attached? %>
                            <%= image_tag url_for(property.images.first), class: "w-100", alt: "#{property.title}", height: "221px" %>
                            <% else %>
                            <i class="fa fa-picture-o fa-5x" aria-hidden="true"></i>
                            <span>Annonce sans photo</span>
                            <% end %>
                        </div>
                        <div class="col-lg-7 pl-lg-0">
                            <div class="card-body">
                                <h5 class="card-title text-dark">
                                    <%= truncate(strip_tags(property.title.capitalize), length: 50) %>
                                </h5>
                                <address class="card-text text-secondary">
                                    <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>&nbsp; <%= property.address.capitalize %>, <%= property.city.name%>
                                </address>
                                <% if property.ad_type.name == "À vendre" %>
                                <p class="text-primary h3">
                                    <%= number_to_currency(property.price, precision: 0) %>
                                </p>
                                <% elsif property.ad_type.name == "À louer" %>
                                <p class="text-primary h3">
                                    <%= number_to_currency(property.price, precision: 0) %>/mois
                                </p>
                                <% end %>
                            </div>
                            <div class="card-footer bg-white">
                                <p class="m-0 d-flex justify-content-between align-items-center">
                                    <small>Publié il y a <%= distance_of_time_in_words(property.created_at, Time.now, include_seconds: false) %></small>
                                    <%= link_to "Voir détails", property, class: "btn btn-primary" %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>

            <div class="col-12">
                <%#= will_paginate @properties, previous_label: "Précédent ", next_label: " Suivant", container: false %>
                <%= will_paginate @properties, renderer: BootstrapPagination::Rails %>

            </div>
        </section>
    </section>
    <% else %>
    <section class="column is-8">
        <p>Aucun résultat trouvé !</p>
    </section>
    <% end %>
</div>
</div>
</section>
