<p id="notice"><%= notice %></p>

<p>
  <strong>Property type:</strong>
  <%= @property.property_type.name %>
</p>

<p>
  <strong>Ad type:</strong>
  <%= @property.ad_type.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Area:</strong>
  <%= @property.area %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>Image1:</strong>
  <%= @property.property_photos %>
  <%= image_tag(@property.image.url, alt: 'Property photos') if @property.property_photos? %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @property.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @property.longitude %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
