<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Type of property:</strong>
  <%= @property.type_of_property %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Area:</strong>
  <%= @property.area %>
</p>

<p>
  <strong>Image1 url:</strong>
  <%= @property.image1_url %>
</p>

<p>
  <strong>Image2 url:</strong>
  <%= @property.image2_url %>
</p>

<p>
  <strong>Image3 url:</strong>
  <%= @property.image3_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>Type of transaction:</strong>
  <%= @property.type_of_transaction %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
