<p id="notice"><%= notice %></p>

<p>
  <strong>Property titre:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @property.property_type.name %>
</p>

<p>
  <strong>Ad type:</strong>
  <%= @property.ad_type.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @property.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Area:</strong>
  <%= @property.area %>
</p>

<p>
  <strong>Description:</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>Image1:</strong>
  <% @property.photos.each do |photo| %>
    <%= image_tag(photo.url alt: 'Property photos', width: 50, height: 50, class: "") if photo.present? %>
  <% end %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
