<% content_for :page_title, @property.title.capitalize %>

<section class="container-fluid px-0 position-relative slide-photo">
    <div class="container w-100 position-absolute" style="bottom: 0;">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <h1 class="text-white"><%= @property.title %></h1>
                <address>
                    <p><i class="fa fa-marker"></i>&nbsp; <%= @property.address %>, <%= @property.city %></p>
                </address>
            </div>
            <hr>
            <div class="col-12">
                <% if @property.ad_type.name == "Vente" %>
                <span class="badge badge-secondary p-2" style="top: 15px; left: 15px;">A vendre</span>
                <% elsif @property.ad_type.name == "Location" %>
                <span class="badge badge-secondary p-2" style="top: 15px; left: 15px;">A louer</span>
                <% end %>
                <% if @property.ad_type.name == "Vente" %>
                <p class="h1 text-primary">
                    <%= number_with_delimiter(sprintf("%0.00f", @property.price)) %><sup>f</sup>
                </p>
                <% elsif @property.ad_type.name == "Location" %>
                <p class="h1 text-primary">
                    <%= number_with_delimiter(sprintf("%0.00f", @property.price)) %><sup>f</sup>/<small>mois</small></sup>
                </p>
                <% end %>
            </div>
        </div>
    </div>
</section>

<section class="container py-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">
                    <div class="card border-0 mb-4 bg-white">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <h4 class="font-weight-bold text-dark">Description</h4>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <p class="font-weight-bold text-dark h6">Surface</p>
                                    <p><%= @property.area %> m<sup>2</sup></p>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <p class="font-weight-bold text-dark h6">Nbrs de pièces</p>
                                    <p><%= @property.room %></p>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <p class="font-weight-bold text-dark h6">Loyer</p>
                                    <p><%= @property.price %>/<small>mois</small></p>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <p class="font-weight-bold text-dark h6">Dépôt de garantie</p>
                                    <p><%= @property.avance %> mois</p>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <p class="font-weight-bold text-dark h6">Disponible</p>
                                    <p class="text-dark"><%= @property.available ? "Oui" : "Non" %></p>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <p class="font-weight-bold text-dark h6">Surface</p>
                                    <p><%= @property.area %> m<sup>2</sup></p>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <p class="font-weight-bold text-dark h6">Surface</p>
                                    <p><%= @property.area %> m<sup>2</sup></p>
                                </div>
                                <div class="col-lg-3 text-center">
                                    <p class="font-weight-bold text-dark h6">Surface</p>
                                    <p><%= @property.area %> m<sup>2</sup></p>
                                </div>
                                <div class="col-12 mt-3">
                                    <p><%= @property.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card border-0 mb-4 bg-white">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="font-weight-bold text-dark">Features</h4>
                                </div>
                                <div class="col-lg-4">
                                    <ul class="list-unstyled">
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <ul class="list-unstyled">
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <ul class="list-unstyled">
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card border-0 mb-4 bg-white">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <h4 class="font-weight-bold text-dark">Adresse</h4>
                                </div>
                                <div class="col-lg-6">
                                    <p class="font-weight-bold text-dark">Adresse : <span class="text-secondary"><%= @property.address %></span></p>
                                </div>
                                <div class="col-lg-6">
                                    <p class="font-weight-bold text-dark">Ville/Quartier : <span class="text-secondary"><%= @property.address %></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card border-0 mb-4 bg-white">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <h4 class="font-weight-bold text-dark">Plan</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card border-0 mb-4 bg-white">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <h4 class="font-weight-bold text-dark">Vidéo</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-12">
                    <%= link_to 'Retour', properties_path, class: "btn btn-primary" %>
                </div>

            </div>
        </div>

        <div class="col-lg-4">
            <div class="rox">
                <div class="col-lg-12 mb-3">
                    <div class="card border-0 bg-white mb-3">
                        <div class="card-body p-4">
                            <h5 class="mb-4 font-weight-bold text-dark">A propos du properiétaire</h5>
                            <div class="row">
                                <div class="col-lg-12 text-center mb-3">
                                    <%= image_tag @property.user.profile_photo_url, class: "rounded-circle", size: "150x150" %>
                                </div>
                                <div class="col-lg-12">
                                    <p class="font-weight-bold text-dark mb-3"><%= @property.user.first_name.capitalize %> <%= @property.user.last_name.upcase %></p>
                                    <address>
                                        <ul class=" list-unstyled">
                                            <li><i class="fas fa-phone" aria-hidden="true"></i>&nbsp; <%= @property.user.phone_number %></li>
                                            <li><i class="fas fa-envelope-0"></i>&nbsp: </li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </address>
                                    <p class="m-0">

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card border-0 bg-white">
                        <div class="card-body p-4">
                            <h5 class="mb-4 font-weight-bold text-dark">Lui écrire</h5>
                            <%= simple_form_for :contact do |contact| %>
                            <%= contact.input :client_name, label: false, placeholder: "Nom et prénom"  %>
                            <%= contact.input :client_email, as: :email, label: false, placeholder: "Email"  %>
                            <%= contact.input :client_phone_number, as: :tel, label: false, placeholder: "Numéros de téléphone"  %>
                            <%= contact.input :message, label: false, placeholder: "Message", as: :text, input_html: {rows: 4}  %>
                            <%= contact.submit "Envoyer", class: "btn btn-primary" %>
                            <% end %>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<% content_for :slick_properties_photo do %>
<script>
    $(document).ready(function(){
        $(".slider").slick({

  // normal options...
  infinite: false,

  // the magic
  responsive: [{

      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        infinite: true
    }

}, {

  breakpoint: 600,
  settings: {
    slidesToShow: 2,
    dots: true
}

}, {

  breakpoint: 300,
      settings: "unslick" // destroys slick

  }]
});
    });
</script>
<% end %>