<% content_for :page_title, @property.title.capitalize %>

<div class="container-fluid px-0">
    <div class="row">

        <div class="owl-carousel owl-theme">
          <div><img src="http://via.placeholder.com/350x150"></div>
          <div><img src="http://via.placeholder.com/350x150"></div>
          <div><img src="http://via.placeholder.com/350x150"></div>
          <div><img src="http://via.placeholder.com/350x150"></div>
          <div><img src="http://via.placeholder.com/350x150"></div>
          <div><img src="http://via.placeholder.com/350x150"></div>
          <div><img src="http://via.placeholder.com/350x150"></div>
          ...
      </div>

  </div>
</div>

<section class="container py-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-0 bg-white">
                        <div class="card-body p-4">
                            <h4 class="card-title font-weight-bold text-dark">Description</h4>
                            <div class="row">
                                <div class="col-lg-4 text-center">
                                    <p class="font-weight-bold text-dark h6">Surface</p>
                                    <p><%= @property.area %> m<sup>2</sup></p>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <p class="font-weight-bold text-dark h6">Nbrs de pièces</p>
                                    <p><%= @property.room %></p>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <p class="font-weight-bold text-dark h6">Loyer</p>
                                    <p><%= @property.price %>/<small>mois</small></p>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <p class="font-weight-bold text-dark h6">Dépôt de garantie</p>
                                    <p><%= @property.avance %> mois</p>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <p class="font-weight-bold text-dark h6">Disponible</p>
                                    <p class="text-dark"><%= @property.available ? "Oui" : "Non" %></p>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <p class="font-weight-bold text-dark h6">Surface</p>
                                    <p><%= @property.area %> m<sup>2</sup></p>
                                </div>
                                <div class="col-12 mt-3">
                                    <p><%= @property.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card border-0 mb-4 bg-white">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="font-weight-bold text-dark">Features</h4>
                                </div>
                                <div class="col-lg-4">
                                    <ul class="list-unstyled">
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <ul class="list-unstyled">
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <ul class="list-unstyled">
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card border-0 mb-4 bg-white">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <h4 class="font-weight-bold text-dark">Adresse</h4>
                                </div>
                                <div class="col-lg-6">
                                    <p class="font-weight-bold text-dark">Adresse : <span class="text-dark"><%= @property.address %></span></p>
                                </div>
                                <div class="col-lg-6">
                                    <p class="font-weight-bold text-dark">Ville/Quartier : <span class="text-dark"><%= @property.address %></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card border-0 mb-4 bg-white">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <h4 class="font-weight-bold text-dark">Plan</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card border-0 mb-4 bg-white">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <h4 class="font-weight-bold text-dark">Vidéo</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="row">
                <% if current_user.role == "Administrateur" and @property.published == true %>
                <div class="col-lg-12 mb-4">
                    <div class="card border-0 bg-white">
                        <div class="card-body">
                            <h5 class="card-title mb-4 font-weight-bold text-dark">Admin</h5>
                            <p class="h4">
                                <span class="badge badge-success p-2 rounded-0">ONLINE</span>
                            </p>
                        </div>
                    </div>
                </div>
                <% else current_user.role == "Administrateur " and @property.published == false %>
                <div class="col-lg-12 mb-4">
                    <div class="card border-0 bg-white">
                        <div class="card-body">
                            <h5 class="card-title mb-4 font-weight-bold text-dark">Admin</h5>
                            <p class="h4">
                                <span class="badge badge-danger p-2 rounded-0">OFFLINE</span>
                            </p>
                        </div>
                        <div class="card-body">
                            <%= form_with url: property_to_publish_path(@property.id), local: true do |f| %>
                            <%= f.button :submit, value: "Publish" %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <% end %>
                <div class="col-lg-12 mb-4">
                    <div class="card border-0 bg-white">
                        <div class="card-body p-4">
                            <h5 class="mb-4 font-weight-bold text-dark">A propos du properiétaire</h5>
                            <div class="row">
                                <div class="col-lg-12 text-center mb-3">
                                    <%= image_tag @property.user.profile_photo_url, class: "rounded-circle", size: "150x150" %>
                                </div>
                                <div class="col-lg-12">
                                    <p class="font-weight-bold text-dark mb-3">
                                        <%= @property.user.first_name.capitalize %>
                                        <%= @property.user.last_name.upcase %>
                                    </p>
                                    <address>
                                        <ul class=" list-unstyled">
                                            <li><i class="fas fa-phone" aria-hidden="true"></i>&nbsp; <%= @property.user.phone_number %></li>
                                            <li><i class="fas fa-envelope-0"></i>&nbsp: </li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </address>
                                    <p class="m-0">

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mb-4">
                    <div class="card border-0 bg-white">
                        <div class="card-body p-4">
                            <h5 class="card-title mb-4 font-weight-bold text-dark">Lui écrire</h5>
                            <%= simple_form_for :contact do |contact| %>
                            <%= contact.input :client_name, label: false, placeholder: "Nom et prénom"  %>
                            <%= contact.input :client_email, as: :email, label: false, placeholder: "Email"  %>
                            <%= contact.input :client_phone_number, as: :tel, label: false, placeholder: "Numéros de téléphone"  %>
                            <%= contact.input :message, label: false, placeholder: "Message", as: :text, input_html: {rows: 4}  %>
                            <%= contact.submit "Envoyer", class: "btn btn-primary" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <p><%= link_to 'Retour', properties_path, class: "btn btn-primary" %></p>
        </div>
    </div>
</section>


<% content_for :owl_carousel do %>
<script>

    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:5
            }
        }
    })


</script>
<% end %>