<% content_for :page_title, @property.title.capitalize %>

<% content_for :slick_cdn_link do %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
<% end %>

<% if @property.photos.attached? %>
<% @property.photos.each do |photo| %>
<section style="height: 75vh !important">
    <div class="center">
        <div class="card">
            <%= image_tag photo, size: "300x300" %>
        </div>
    </div>
</section>
<% end %>
<% else %>
<section class="container-fluid d-flex align-items-center text-center">
    <p>PAS DE PHOTOS</p>
</section>
<% end %>

<section class="container py-5">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-0 bg-white">
                        <div class="card-body p-4">
                            <h4 class="card-title font-weight-bold text-dark">Description</h4>
                            <div class="row">
                                <div class="col-lg-4 text-center">
                                    <p class="font-weight-bold text-dark h6">Surface</p>
                                    <p><%= @property.area %> m<sup>2</sup></p>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <p class="font-weight-bold text-dark h6">Nbrs de pièces</p>
                                    <p><%= @property.room %></p>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <p class="font-weight-bold text-dark h6">Loyer</p>
                                    <p><%= @property.price %>/<small>mois</small></p>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <p class="font-weight-bold text-dark h6">Dépôt de garantie</p>
                                    <p><%= @property.avance %> mois</p>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <p class="font-weight-bold text-dark h6">Disponible</p>
                                    <p class="text-dark"><%= @property.available ? "Oui" : "Non" %></p>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <p class="font-weight-bold text-dark h6">Surface</p>
                                    <p><%= @property.area %> m<sup>2</sup></p>
                                </div>
                                <div class="col-12 mt-3">
                                    <p><%= @property.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card border-0 mb-4 bg-white">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="font-weight-bold text-dark">Features</h4>
                                </div>
                                <div class="col-lg-4">
                                    <ul class="list-unstyled">
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <ul class="list-unstyled">
                                        <li></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4">
                                    <ul class="list-unstyled">
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card border-0 mb-4 bg-white">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <h4 class="font-weight-bold text-dark">Adresse</h4>
                                </div>
                                <div class="col-lg-6">
                                    <p class="font-weight-bold text-dark">Adresse : <span class="text-dark"><%= @property.address %></span></p>
                                </div>
                                <div class="col-lg-6">
                                    <p class="font-weight-bold text-dark">Ville/Quartier : <span class="text-dark"><%= @property.address %></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card border-0 mb-4 bg-white">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <h4 class="font-weight-bold text-dark">Plan</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="card border-0 mb-4 bg-white">
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-lg-12 mb-3">
                                    <h4 class="font-weight-bold text-dark">Vidéo</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="row">

                <% if user_signed_in? %>
                <% if current_user.admin? && @property.published? %>
                <div class="col-lg-12 mb-4">
                    <div class="card border-0 bg-white">
                        <div class="card-body">
                            <h5 class="card-title mb-4 font-weight-bold text-dark">Admin</h5>
                            <p><span class="badge badge-success p-2 ">En ligne</span></p>
                        </div>
                    </div>
                </div>
                <% elsif current_user.admin? && !@property.published? %>
                <div class="col-lg-12 mb-4">
                    <div class="card border-0 bg-white">
                        <div class="card-body">
                            <h5 class="card-title mb-4 font-weight-bold text-dark">Admin</h5>
                            <p><span class="badge badge-danger p-2">Annonce hors ligne</span></p>

                            <!-- Mise en ligne de l'annonce par un admin -->

                            <%= simple_form_for :publish, url: publish_property_path(@property.id) do |f| %>
                            <%= f.button :submit, value: "Mettre en ligne", class: "btn btn-success" %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <% end %>                    
                <% end %>

                <div class="col-lg-12 mb-4">
                    <div class="card border-0 bg-white">
                        <div class="card-body p-4">
                            <h5 class="mb-4 font-weight-bold">A propos du properiétaire</h5>
                            <div class="row">
                                <% if @property.user.profile_photo.attached? %>
                                <div class="col-lg-12 mb-3">
                                    <%= image_tag @property.user.profile_photo, class: "rounded-circle", size: "150x150" if @property.user.profile_photo.attached? %>
                                </div>
                                <% else %>
                                <div class="col-lg-12 mb-3">
                                    <%= image_tag "148705-essential-collection/svg/user-3.svg", class: "rounded-circle", size: "150x150" %>
                                </div>
                                <% end %>
                                <div class="col-lg-12">
                                    <p class="font-weight-bold mb-3">
                                        <%= @property.user.first_name.capitalize %>
                                        <%= @property.user.last_name.upcase %>
                                    </p>
                                    <address>
                                        <ul class="list-unstyled">
                                            <li class="my-2"><i class="fas fa-phone" aria-hidden="true"></i>&nbsp; <%= @property.user.phone_number %></li>
                                            <li class="my-2"><i class="fas fa-envelope-0"></i>&nbsp: <%= @property.user.email %></li>
                                        </ul>
                                    </address>
                                    <p class="m-0">

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mb-4">
                    <div class="card border-0 bg-white">
                        <div class="card-body p-4">
                            <h5 class="card-title mb-4 font-weight-bold text-dark">Lui écrire</h5>
                            <%= simple_form_for :contact do |contact| %>
                            <%= contact.input :client_name, label: false, placeholder: "Nom et prénom"  %>
                            <%= contact.input :client_email, as: :email, label: false, placeholder: "Email"  %>
                            <%= contact.input :client_phone_number, as: :tel, label: false, placeholder: "Numéros de téléphone"  %>
                            <%= contact.input :message, label: false, placeholder: "Message", as: :text, input_html: {rows: 4}  %>
                            <%= contact.submit "Envoyer", class: "btn btn-primary" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <p><%= link_to 'Retour', properties_path, class: "btn btn-primary" %></p>
        </div>
    </div>
</section>

<% content_for :slick_cdn_script do %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<% end %>

<% content_for :slick_script do %>
<script>
    $('.center').slick({
      centerMode: true,
      centerPadding: '60px',
      slidesToShow: 3,
      responsive: [
      {
          breakpoint: 768,
          settings: {
            arrows: false,
            centerMode: true,
            centerPadding: '40px',
            slidesToShow: 3
        }
    },
    {
      breakpoint: 480,
      settings: {
        arrows: false,
        centerMode: true,
        centerPadding: '40px',
        slidesToShow: 1
    }
}
]
});
</script>
<% end %>
