<footer class="section has-background-white">
    <div class="container">
        <div class="columns">
            <div class="column content">
                <h3 class="title has-text-bold">SICO</h3>
                <p>Notre mission : Rendre accessible les informations sur les offres immobilières et permettre aux gens de trouver et d'acquérir en toute securité le bien qui correspond à leurs besoins.</p>
                <p>96 61 90 73</p>
                <p><%= mail_to "support@amadev.xyz", "support@amadev.xyz", subject: "Demande d'information", class: "text-dark" %></p>
            </div>
            <div class="column">
                <h5 class="title">A propos</h5>
                <ul class="content">
                    <li>
                        <%= link_to 'A propos de nous', about_us_path, class: "has-text-dark" %>
                    </li>
                    <li>
                        <%= link_to 'Contactez nous', contact_us_path, class: "has-text-dark" %>
                    </li>
                    <li>
                        <%= link_to "Recrutement", home_page_path, class: "has-text-dark" %>
                    </li>
                </ul>
            </div>
            <div class="column">
                <h5 class="title">Informations</h5>
                <ul class="content">
                    <li>
                        <%= link_to "Nos tarifs", pricing_plan_path, class: "has-text-dark" %>
                    </li>
                    <li>
                        <%= link_to "Blog", home_page_path, class: "has-text-dark" %>
                    </li>
                    <li>
                        <%= link_to "Condition d'utilisation", home_page_path, class: "has-text-dark" %>
                    </li>
                    <li>
                        <%= link_to "Confidentialité", home_page_path, class: "has-text-dark" %>
                    </li>
                    <li>
                        <%= link_to "FAQ", home_page_path, class: "has-text-dark" %>
                    </li>
                </ul>
            </div>
            <div class="column">
                <div class="columns">
                    <div class="column">
                        <h5 class="title">Newsletter</h5>
                        <p class="has-text-dark"><small>Restez connecté avec nous. Inscrivez-vous à la newsletter pour recevoir des annonces et informations fraîches.</small></p>
                        <%= render "newsletters/newsletter_form" %>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <h5 class="subtitle">Suivez-nous sur</h5>
                        <ul class="content">
                            <li>
                                <%= link_to "https://facebook.com", title: "Suivez-nous sur facebook" do %>
                                <%= image_tag "145797-social-network-logo-collection/svg/facebook.svg", alt: "Liens vers la page facebook de Sico", width: "30px;" %>
                                <% end %>
                            </li>
                            <li>
                                <%= link_to "https://facebook.com", title: "Suivez-nous sur twitter" do %>
                                <%= image_tag "145797-social-network-logo-collection/svg/twitter.svg", alt: "Liens vers la page twitter de Sico", width: "30px;" %>
                                <% end %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns" style="border-top: 1px solid #dee2e6 !important;">
            <div class="column has-text-centered">
                <p>&copy; <%= @current_year %> Sico. Tous droit réservé.</p>
            </div>
        </div>
    </div>
</footer>
