<section class="container-fluid py-5 bg-white">
    <section class="container">
        <div class="row">
            <div class="col-12 text-center mb-3">
                 <h2 class="display-4">Tarifs</h2>
                <p class="lead sr-only">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, tempora?</p>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="card" style="box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);">
                    <div class="card-header text-center">
                        <h3 class="mb-0 text-secondary font-weight-bold">Basic</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="card-title py-3" style="border-bottom: 1px solid #dee2e6 !important;">Gratuit</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-center">
                          <li class="my-2">Post 1 Job</li>
                          <li class="my-2">Edit your job listing</li>
                          <li class="my-2">See job posting</li>
                          <li class="text-muted"><del>Help center access</del></li>
                        </ul>
                        <p>
                            <%= link_to "Sign up for free", root_path, class: "btn btn-outline-primary btn-lg"  %>                                
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);">
                    <div class="card-header text-center bg-primary">
                        <h3 class="mb-0 text-white font-weight-bold">Profesionnel</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="card-title py-3" style="border-bottom: 1px solid #dee2e6 !important;">
                            <%= number_with_delimiter(sprintf("%0.00f", 45000)) %><sup>f</sup>/<small>mois</small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4 text-center">
                          <li class="my-2">Post 5 job. 5 Job posting.</li>
                          <li class="my-2">JOb displayed for 20 days.</li>

                          <li class="my-2">Edit your job listing</li>
                          <li class="my-2">See job posting</li>
                          <li class="my-2">Premium support 24/7</li>                          

                          <li class="my-2">Help center access</li>
                        </ul>
                        <p>
                            <%= link_to "Sign up for free", root_path, class: "btn btn-primary btn-lg"  %>                                
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card" style="box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);">
                    <div class="card-header text-center">
                        <h3 class="mb-0 text-secondary font-weight-bold">Intégrale</h3>
                    </div>
                    <div class="card-body text-center">
                        <h1 class="card-title py-3" style="border-bottom: 1px solid #dee2e6 !important;">
                            <%= number_with_delimiter(sprintf("%0.00f", 55000)) %><sup>f</sup>/<small>mois</small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4 text-center">
                          <li class="my-2">10 users included</li>
                          <li class="my-2">2 GB of storage</li>
                          <li class="my-2">Email support</li>
                          <li class="my-2">Help center access</li>
                        </ul>
                        <p>
                            <%= link_to "Sign up for free", root_path, class: "btn btn-outline-primary btn-lg"  %>                                
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>