<% content_for :page_title, "Contactez nous" %>

<section class="hero banner-contact-us is-medium">
    <div class="hero-body">
        <div class="container">
            <riv class="columns">
                <div class="column has-text-centered">
                    <h1 class="title has-text-white">Contact</h1>
                </div>
            </riv>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-5 is-offset-1">
                <h3 class="subtitle">Contactez-nous</h3>
                <address class="">
                    <div class="content">
                        <h4>Adresse</h4>
                        <p>Cococodji, Bénin</p>
                    </div>
                    <div class="content">
                        <h4>Téléphone</h4>
                        <p>96 61 90 73</p>
                    </div>
                    <div class="content">
                        <h4>Email</h4>
                        <p>
                            <%= mail_to "support@amadev.xyz", "support@amadev.xyz", subject: "Demande d'information", class: "sans-text-decoration text-dark" %>
                        </p>
                    </div>
                </address>
            </div>
            <div class="column is-5">
                <div id="mapid" class="w-100 h-100"></div>                
                <div class="box is-hidden">
                    <h3>Chargement de la carte.</h3>
                    <p><%= image_tag "ajax-loader.gif" %></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section has-background-white">
    <div class="container">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <h4 class="title">Ecrivez-nous</h4>
                <p class="subtitle">Vous avez une question, une suggestion ou un problème ? Ecrivez-nous.</p>
                <%= simple_form_for @contact do |f| %>
                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="field">
                            <div class="control">
                                <%= f.input :first_name, required: true, label: "Prénom", wrapper: false, label_html: {class: "label"}, input_html: {class: "input"} %>
                            </div>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            <div class="control">
                                <%= f.input :last_name, required: true, label: "Nom", wrapper: false, label_html: {class: "label"}, input_html: {class: "input"} %>
                            </div>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            <div class="control">
                                <%= f.input :email, as: :email, required: true, label: "Adresse email", wrapper: false, input_html: {class: "input"}, label_html: {class: "label"} %>
                            </div>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            <div class="control">
                                <%= f.input :phone_number, as: :tel, required: true, label: "Numeros de téléphone", wrapper: false, input_html: {class: "input"}, label_html: {class: "label"} %>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="field">
                            <div class="control">
                                <%= f.input :message, required: true, label: "Message", input_html: { rows: 5 }, wrapper: false, input_html: {class: "textarea"}, label_html: {class: "label"} %>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="field">
                            <div class="control">
                                <%= f.submit "Envoyer", class: "button is-info" %>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
