<% content_for :page_title, "Accueil" %>

<!-- Main jumbotron for a primary marketing message or call to action -->

<!-- Pour vidéo d'arrière plan : jarallax" data-jarallax='{"speed": 0.2}' data-jarallax-video="https://www.youtube.com/watch?v=UrkXWG9WgC8" -->
<!-- <h1 class="text-white">Le moyen le plus simple de trouver <span class="element font-weight-bold"></span> a louer</h1> -->
<div class="jumbotron jumbotron-fluid d-flex align-items-center mb-0 jumbotron-accueil aos-item" data-aos="fade">
    <div class="container">
        <h1 class="display-4 text-white text-center">Bienvenue sur <span class="font-weight-bold">SICO</span></h1>
        <p class="lead text-white text-center">Trouver le bien immobilier qui correspond à vos besoins sans perdre le temps à visiter plusieurs.</p>
        <div class="row" >
            <div class="col-lg-12 py-3" style="border-radius: 3px; background-color: rgba(0, 0, 0, 0.3)">
                <%= render "shareds/property_search_form_in_home_page" %>
            </div>
        </div>
    </div>
</div>


<section class="container-fluid py-5 sr-only">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mb-5">
                <h3>Annonces en vedette</h3>
            </div>
            <div class="col-12">
                <div class="row annonce_nouvellement_publié">
                    <div class="col-12 col-md-4 mx-1">
                        <div class="card mb-4">
                            <img class="card-img-top" src="https://picsum.photos/200/150/?random" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-text">Appartement</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid py-5 bg-white" id="comment-ca-marche">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mb-3">
                <h1>Comment ça marche</h1>
                <p>3 étapes très simple</p>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <p class="mb-3"><%= image_tag "179347-control/svg/number-1.svg", class: "w-25" %></p>
                <p>Faîte une recherche et choisissez un bien parmis les résultats de recherche.</p>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <p class="mb-3"><%= image_tag "179347-control/svg/number-2.svg", class: "w-25" %></p>
                <p>Contacter le propriétaire du bien pour convenir d'un RDV pour la visite.</p>
            </div>
            <div class="col-lg-4 text-center mb-5">
                <p class="mb-3"><%= image_tag "179347-control/svg/number-3.svg", class: "w-25" %></p>
                <p>Visiter le bien puis régler l'avance et prenez les clefs si le bien correspond à vos besoins.</p>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid py-5 sr-only">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mb-5">
                <h2>Communes/Quartiers les plus consultés</h2>
            </div>
            <div class="col-lg-8 mb-5">
                <%= link_to home_page_path, class: "sans-text-decoration" do %>
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="card-title mb-0">Cotonou</h2>
                            <p class="lead">N* de biens</p>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-lg-4 mb-5">
                <%= link_to home_page_path, class: "sans-text-decoration" do %>
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="card-title mb-0">Cotonou</h2>
                            <p class="lead">N* de biens</p>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-lg-4 mb-5">
                <%= link_to home_page_path, class: "sans-text-decoration" do %>
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="card-title mb-0">Cotonou</h2>
                            <p class="lead">N* de biens</p>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="col-lg-8 mb-5">
                <%= link_to home_page_path, class: "sans-text-decoration" do %>
                    <div class="card">
                        <div class="card-body text-center">
                            <h2 class="card-title mb-0">Cotonou</h2>
                            <p class="lead">N* de biens</p>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid py-5 sr-only bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center mb-4">
                <h2>Quelques agences immobiliers</h2>
            </div>
        </div>
    </div>
</section>
