<% content_for :page_title, "Nos tarifs" %>
<% content_for :page_meta_description, "Nos tarifs" %>
<% content_for :page_meta_keywords, "tarifs" %>

<section class="d-flex align-items-center nos-tarifs">
    <div class="container">
        <!-- <h1 class="text-white text-center mb-3">Trouver <span id="js-rotating" class="font-weight-bold">la chambre, la maison, le villa, l'appartement, le bureau, la boutique, le magasin, le parcelle, le terrain</span> de vos rêves sans aucune difficulté.</h1> -->
        <h2 class="text-white text-center">Nos tarifs</h2>
        <!-- <h4 class="text-white text-center mb-3">Trouvez <span id="js-rotating" class="font-weight-bold">la parcelle, le terrain, la maison, la villa, l'immeuble</span> dont vous rêvez et faites votre acquisition en toute sécurité.</h4> -->
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class="pricing-table">
                  <div class="pricing-plan">
                    <div class="plan-header">Starter</div>
                    <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month</div>
                    <div class="plan-items">
                      <div class="plan-item">20GB Storage</div>
                      <div class="plan-item">100 Domains</div>
                      <div class="plan-item">-</div>
                      <div class="plan-item">-</div>
                  </div>
                  <div class="plan-footer">
                      <button class="button is-fullwidth" disabled="disabled">Current plan</button>
                  </div>
              </div>

              <div class="pricing-plan is-warning">
                <div class="plan-header">Startups</div>
                <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>40</span>/month</div>
                <div class="plan-items">
                  <div class="plan-item">20GB Storage</div>
                  <div class="plan-item">25 Domains</div>
                  <div class="plan-item">1TB Bandwidth</div>
                  <div class="plan-item">-</div>
              </div>
              <div class="plan-footer">
                  <button class="button is-fullwidth">Choose</button>
              </div>
          </div>

          <div class="pricing-plan is-active">
            <div class="plan-header">Growing Team</div>
            <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>60</span>/month</div>
            <div class="plan-items">
              <div class="plan-item">200GB Storage</div>
              <div class="plan-item">50 Domains</div>
              <div class="plan-item">1TB Bandwidth</div>
              <div class="plan-item">100 Email Boxes</div>
          </div>
          <div class="plan-footer">
              <button class="button is-fullwidth">Choose</button>
          </div>
      </div>

      <div class="pricing-plan is-danger">
        <div class="plan-header">Enterprise</div>
        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>100</span>/month</div>
        <div class="plan-items">
          <div class="plan-item">2TB Storage</div>
          <div class="plan-item">100 Domains</div>
          <div class="plan-item">1TB Bandwidth</div>
          <div class="plan-item">1000 Email Boxes</div>
      </div>
      <div class="plan-footer">
          <button class="button is-fullwidth">Choose</button>
      </div>
  </div>
</div>
</div>
</div>
</div>
</section>  

<section class="container-fluid py-5 bg-white">
	<section class="container">
		<div class="row">
			<div class="col-12 text-center mb-3">
				
				<p class="lead"><span class="font-weight-bold h4">SICO</span> vous offre 3 différents tarifs pour répondre à vos besoins.</p>
			</div>
		</div>
        <section class="row ">
            <div class="col-lg-4 mb-4">
                <div class="card pricing_plan shadow-sm">
                    <div class="card-header bg-light">
                        <h3 class="text-center mb-0">Standard</h3>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title text-center mb-0">Gratuit</h1>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">3 annonces maximum.</li>
                        <li class="list-group-item">1 semaine de visibilité par annonce.</li>
                        <li class="list-group-item">4 photos maximum par annonce.</li>
                        <li class="list-group-item">Location et vente.</li>
                    </ul>
                    <div class="card-footer bg-white">
                        <p class="mb-0 text-center">
                            <%= link_to "S'inscrire", new_user_registration_path(pricing_plan_choosing: "basic"), class: "btn btn-outline-primary btn-lg" %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card border-primary pricing_plan shadow-sm">
                    <div class="card-header bg-primary">
                        <h3 class="text-center my-0 text-white">Premium</h3>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title text-center mb-0">
                            <%= number_with_delimiter(sprintf("%0.00f", 19000)) %><sup>f</sup>
                        </h1>                        
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">8 annonces maximum.</li>
                        <li class="list-group-item">2 mois de visibilité par annonce.</li>
                        <li class="list-group-item">12 photos maximum par annonce + 1 photo du plan.</li>
                        <li class="list-group-item">Location et vente.</li>
                        <li class="list-group-item">Téléchargement gratuit des modèles de contrats.</li>
                    </ul>
                    <div class="card-footer bg-white">
                        <p class="mb-0 text-center">
                            <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-primary btn-lg"  %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card pricing_plan shadow-sm">
                    <div class="card-header bg-light">
                        <h3 class="text-center mb-0">Business</h3>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title text-center mb-0">
                            <%= number_with_delimiter(sprintf("%0.00f", 29000)) %><sup>f</sup>/mois
                        </h1>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item">annonces illimitées.</li>
                        <li class="list-group-item">Visibilité illimitées.</li>
                        <li class="list-group-item">Photos illimités par annonce + 1 photo du plan + 1 vidéo.</li>
                        <li class="list-group-item">Location et vente.</li>
                        <li class="list-group-item">Téléchargement gratuit des modèles de contrats.</li>
                        <li class="list-group-item">Assistance juridique.</li>
                        <li class="list-group-item">Support 24/7.</li>
                    </ul>
                    <div class="card-footer bg-white">
                        <p class="mb-0 text-center">
                            <%= link_to "S'inscrire", new_user_registration_path, class: "btn btn-outline-primary btn-lg" %>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
