
<!-- #dee2e6 -->

<section class="container-fluid py-5 bg-white">
	<section class="container">
		<div class="row">
			<div class="col-12 text-center mb-3">
				<h2>Nos tarifs</h2>
				<p class="lead"><span class="font-weight-bold h4">SICO</span> vous offre 3 différents tarifs pour répondre à vos besoins.</p>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card pricing_plan shadow-sm">
					<div class="card-header text-center">
						<h3 class="my-0">Gratuit</h3>
					</div>
					<div class="card-body text-center">
						<h1 class="card-title">
							<%= number_with_delimiter(sprintf("%0.00f", 0)) %><sup>f</sup><small class="text-muted">/mois</small>
						</h1>
						<hr>
						<ul class="list-unstyled">
							<li>Annonces illimités.</li>
							<li>Durée d'affichage : 2 semaines.</li>
							<li>Possibilité de voir et modifier vos annonces.</li>
							<li>3 photos maximum par annonce.</li>
							<li>100% sécurisé.</li>
						</ul>
						<p>
							<%= link_to "Choisir ce plan", new_property_path, class: "btn btn-outline-primary btn-lg" %>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card border-primary pricing_plan shadow-sm">
					<div class="card-header bg-primary text-center">
						<h3 class="my-0 text-white">Profesionnel</h3>
					</div>
					<div class="card-body text-center">
						<h1 class="card-title">
							<%= number_with_delimiter(sprintf("%0.00f", 39500)) %><sup>f</sup><small class="text-muted">/mois</small>
						</h1>
						<hr>
						<ul class="list-unstyled">
							<li>Annonces illimités.</li>
							<li>Durée d'affichage : 1 mois.</li>
							<li>Possibilité de voir et modifier vos annonces.</li>
							<li>6 photos maximum par annonce.</li>
							<li>100% sécurisé.</li>
							<li>Support 24/7.</li>
						</ul>
						<p>
							<%= link_to "Contactez-nous", contact_us_path, class: "btn btn-primary btn-lg"  %>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card pricing_plan shadow-sm">
					<div class="card-header text-center">
						<h3 class="my-0">Entreprise</h3>
					</div>
					<div class="card-body text-center">
						<h1 class="card-title">
							<%= number_with_delimiter(sprintf("%0.00f", 75000)) %><sup>f</sup><small class="text-muted">/mois</small>
						</h1>
						<hr>
						<ul class="list-unstyled">
							<li>Annonces illimités.</li>
							<li>Durée d'affichage : jusqu'à ce que vos biens soit loués ou vendus..</li>
							<li>Possibilité de voir et modifier vos annonces.</li>
							<li>12 photos maximum par annonce plus 1 vidéo.</li>
							<li>100% sécurisé.</li>
							<li>Support 24/7.</li>
							<li>Page vitrine pour présenter votre entreprise.</li>
							<li>Toutes vos annonces et vos agents sur une même page.</li>
							<li>Des modèles de contrats mis à votre disposition.</li>
							<li>Un conseiller immobilier et une assistance juridique dédié mis à votre disposition.</li>
							<li>100% sécurisé.</li>
							<li>Support 24/7.</li>
						</ul>
						<p>
							<%= link_to "Contactez-nous", contact_us_path, class: "btn btn-outline-primary btn-lg"  %>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
