<% content_for :page_title, "Mes biens" %>

<section class="container-fluid py-5 my_property-page-banner d-flex flex-column justify-content-center">
    <div class="container">
        <riv class="row">
            <div class="col-lg-12 text-center">
                <h1 class="text-white">Mes biens</h1>
            </div>
        </riv>
    </div>
</section>

<section class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <%= render "shareds/dashboard_sidebar_menu" %>
            </div>
           
            <div class="col-lg-8">
                <div class="row">
                     <div class="col-12">
                        <p><%= pluralize(@my_properties_numbers, "annonces publié", "annonces publiés") %></p>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <% @my_properties.each do |my_property| %>
                    <li class="row d-flex align-items-center">
                        <div class="col-lg-3">
                            <%= image_tag my_property.property_photo, class: "img-fluid w-100 h-100", alt: "Photo de lannonce : #{ my_property.title }" %>
                        </div>
                        <div class="col-lg-6 py-3 d-flex flex-column justify-content-center">
                            <h5><%= truncate(strip_tags(my_property.title.capitalize), length: 25) %></h5>
                            <address class="">
                                <i class="fas fa-map-marker-alt"></i>&nbsp; <%= my_property.address %>, <%= my_property.city %>
                            </address>
                            <% if my_property.ad_type.name == "A vendre" %>
                            <p>
                                <span><%= sprintf("%0.00f", my_property.price) %><sup>F</sup></span>
                            </p>
                            <% elsif my_property.ad_type.name == "A louer" %>
                            <p>
                                <span><%= sprintf("%0.00f", my_property.price) %><sup>F</sup><small>/mois</small></span>
                            </p>
                            <% end %>
                        </div>
                        <div class="col-lg-3">
                            <ul class="nav d-flex">
                              <li class="nav-item">
                                <%= link_to "Modifier", edit_property_path(my_property), class: "nav-link" %>
                              </li>
                              <li class="nav-item">
                                <%= link_to 'Supprimer', my_property_path(my_property.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "nav-link" %>
                              </li>
                            </ul>
                        </div>
                    </li>
                    <hr>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</section>
