    <% content_for :page_title, "Mes biens" %>

    <section class="container-fluid py-5 my_property-page-banner d-flex flex-column justify-content-center">
        <div class="container">
            <riv class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="text-white">Mes biens</h1>
                </div>
            </riv>
        </div>
    </section>

    <section class="container-fluid py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <%= render "shareds/dashboard_sidebar_menu" %>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                <%= pluralize(@my_properties_numbers, "annonces publié", "annonces publiés") %>
                            </p>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <% @my_properties.each do |my_property| %>
                                <!-- Grid design -->
                                <div class="col-lg-6 mb-4">
                                    <%= link_to my_property, class: "sans-text-decoration" do %>
                                    <div class="card liste-card-recherche text-dark">
                                        <% if my_property.images.attached? %>
                                        <%= image_tag my_property.images.first, class: "card-img-top", alt: "Photo de #{ my_property.title }", height: "200px" %>
                                        <% else %>
                                        <p>ANNONCE SANS PHOTO</p>
                                        <% end %>

                                        <% if my_property.ad_type == "Vente" %>
                                        <h4><span class="position-absolute badge badge-secondary p-2" style="top: 10px; left: 10px;">A vendre</span></h4>
                                        <% elsif my_property.ad_type == "Location" %>
                                        <h4><span class="position-absolute badge badge-secondary p-2" style="top: 10px; left: 10px;">A louer</span></h4>
                                        <% end %>

                                        <% if user_signed_in? %>
                                        <% if current_user.admin? and my_property.published %>
                                        <h4><span class="position-absolute badge badge-success p-2" style="top: 10px; right: 10px;">En ligne</span></h4>
                                        <% elsif current_user.admin? and !my_property.published %>
                                        <h4><span class="position-absolute badge badge-warning text-white p-2" style="top: 10px; right: 10px;">En attente de mise en ligne</span></h4>
                                        <% end %>
                                        <% end %>

                                        <div class="card-body p-3">
                                            <h5 class="card-title font-weight-bold text-dark">
                                                <%= truncate(strip_tags(my_property.title.capitalize), length: 25) %>
                                            </h5>
                                            <address class="card-text text-dark">
                                                <i class="fas fa-map-marker-alt"></i>&nbsp; <%= my_property.address %>, <%= my_property.city %>
                                            </address>
                                            <% if my_property.ad_type == "Vente" %>
                                            <p class="text-primary m-0 p-0 h3">
                                                <%= number_to_currency(my_property.price, precision: 0) %>
                                            </p>
                                            <% elsif my_property.ad_type == "Location" %>
                                            <p class="text-primary m-0 p-0 h3">
                                                <%= number_to_currency(my_property.price, precision: 0) %>/mois
                                            </p>
                                            <% end %>
                                        </div>

                                        <div class="card-footer bg-white" style="border-top: 1px solid #dee2e6 !important;">
                                            <p class="d-flex justify-content-between align-items-center mb-0">
                                                <small class="text-dark">Publié il y a <%= distance_of_time_in_words(my_property.created_at, Time.now, include_seconds: false) %></small>
                                                <%= link_to "Modifier", edit_property_path(my_property), class: "btn btn-secondary" %>
                                            </p>

                                            <div class="btn-group">
                                                <button type="button" class="btn btn-success">Add</button>
                                                <button type="button" class="btn btn-warning">Edit</button>
                                                <button type="button" class="btn btn-danger">Delete</button>
                                            </div>

                                        </div>
                                    </div>
                                    <% end %>
                                </div>
                                <!-- Grid design -->
                                <% end %>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
