<% provide :page_title, "Mes annonces"  %>

<section class="container-fluid py-5" style="background-color: #FAFAFA;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Mes annonces</h3>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <% if @my_ads_total > 1 %>
                    <p><%= @my_ads_total %> annonces publié</p>
                <% else %>
                    <p><%= @my_ads_total %> annonce publié</p>
                <% end %>

                <div class="row">
                     <% @my_ads.each do |my_ad| %>
                        <div class="col-lg-4">
                            <div class="card mb-4 liste-card-recherche">
                                <%= image_tag my_ad.property_photos.first.photo_url, class: "card-img-top", alt: "Photo de lannonce : #{ my_ad.title }", height: "250px" %>
                                <% if my_ad.ad_type.name == "A vendre" %>
                                    <small class="position-absolute text-white badge-success px-2 py-1 font-weight-bold" style="top: 10px; left: 10px;"><%= my_ad.ad_type.name %></small>                                
                                <% elsif my_ad.ad_type.name == "A louer" %>
                                    <small class="position-absolute text-white badge-secondary px-2 py-1 font-weight-bold" style="top: 10px; left: 10px;"><%= my_ad.ad_type.name %></small>
                                <% end %>
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold">
                                        <%= link_to "#{my_ad.title.capitalize}", my_ad %>
                                    </h5>
                                    <address class="card-text">
                                        <i class="fas fa-map-marker-alt"></i>&nbsp; <%= my_ad.address %>, <%= my_ad.city %>
                                    </address>
                                    <% if my_ad.ad_type.name == "A vendre" %>
                                        <p class="h5 m-0 p-0 font-weight-bold"><%= sprintf("%0.00f", my_ad.price) %><sup>F</sup></p>
                                    <% elsif my_ad.ad_type.name == "A louer" %>
                                        <p class="h5 m-0 p-0 font-weight-bold"><%= sprintf("%0.00f", my_ad.price) %><sup>F</sup><small>/mois</small></p>
                                    <% end %>
                                    <p class="m-0 sr-only">
                                        <small>Il y a <%= time_ago_in_words(my_ad.created_at) %></small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>