<section class="container-fluid">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-6 offset-lg-3">
                <div class="card"">
                    <div class="card-body" style="box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);">
                        <img class="mb-4 sr-only" src="" alt="" width="72" height="72">

                        <h2 class="card-title text-center font-weight-normal"><%= t(".sign_in") %></h2>

                <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-inputs">
                    <%= f.input :email, required: false, autofocus: true %>
                    <%= f.input :password, required: false %>
                    <%= f.input :remember_me, inline_label: true, as: :boolean if devise_mapping.rememberable? %>
                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, t(".sign_in"), class: "btn btn-primary btn-block btn-lg" %>
                  </div>
                <% end %>

                    <div class="text-center mt-4">
                        <%= render "devise/shared/links" %>
                    </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
