<!-- <h1>Notifications#welcome</h1>

<p>
  <%#= @greeting %>, find me in app/views/notifications_mailer/welcome.html.erb
</p>
-->



<h2>Bienvenue <%= @user.first_name if @user.first_name.present? %>,</h2>
<p>Vous vous êtes inscrit avec succès sur <%= link_to home_page_url, home_page_url %>, votre adresse email est: <%= @user.email %> .</p>
<p>Pour vous connecter au site, il suffit de suivre ce lien: <%= link_to new_user_session_url, new_user_session_url %> .</p>
<p>Merci de votre inscription et bonne journée!</p>
<p>Si vous avez des questions, n'hésitez pas à nous contacter dépuis notre page de contact  <%= link_to contact_us_url, contact_us_url %>!</p>

<p>Merci,</p>
<p>L'équipe SICO</p>


<h1>Welcome to SICO, <%= @user.name %></h1>
<p>You have successfully signed up to SICO, your email address is: <%= @user.email %>.</p>
<p>To login to the site, just follow this link: <%= @url %>.</p>
<p>To activate your account, just follow this link: <%= @url %>.</p>
<p>Thanks for joining and have a great day!</p>