<h1>Contacts#contact_us</h1>

<p>
	<%= @greeting %>, find me in app/views/contacts_mailer/contact_us.html.erb
</p>

=================================================


<p>You received a message from <%= @contact_infos.first_name %> <%= @contact_infos.last_name %> with email address <%= @contact_infos.email %>.</p>

<p>The visitor said :</p>

<p><%= @contact_infos.message %></p>

<p><%= link_to "Aller sur le site", home_page_url %></p>