<!doctype html>
<html lang="fr" class="no-js">
  <head>
        <meta charset="utf-8">

        <!-- Required meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <meta name="author" content="Francel AMAMOO">
        <meta name="description" content="Petite annonce immobilier entre particulier">

        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Sico - <%= content_for?(:page_title) ? yield(:page_title) : "Pas de title" %></title>

        <%= favicon_link_tag "" %>

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">

        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

        <!-- Add the slick-theme.css if you want default styling -->
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
        <!-- Add the slick-theme.css if you want default styling -->
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

  </head>
  <body class="Controller : <%= controller.controller_name  %>, Action : <%= controller.action_name  %>">

        <%= render "shareds/navbar" %>

        <% flash.each do |name, message| %>
            <!-- <%= content_tag :div, message, class: name %> -->
            <% if name == "alert" %>
                <div class="<%= name %> <%= name %>-danger mb-0 text-center alert-dismissible fade show" role="alert">
                  <h6 class="alert-heading mb-0"><%= message %></h6>
                  <!-- <p class="mb-0 font-weight-bold"><%= message %></p> -->
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            <% elsif name == "notice" %>
                <div class="alert alert-success mb-0 text-center alert-dismissible fade show" role="alert">
                  <h6 class="alert-heading mb-0"><%= message %></h6>
                  <!-- <p class="mb-0 font-weight-bold"><%= message %></p> -->
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            <% else %>
                <div class="<%= name %> <%= name %>-danger mb-0 text-center alert-dismissible fade show" role="alert">
                  <h6 class="alert-heading mb-0"><%= message %></h6>
                  <!-- <p class="mb-0 font-weight-bold"><%= message %></p> -->
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            <% end %>
        <% end %>

        <main>
            <%= yield %>
        </main>

        <!-- <%= render "shareds/mobile_apps" %> -->

        <%= render "shareds/footer" %>

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <script src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

        <!-- Jarallax -->
        <script src="https://unpkg.com/jarallax@1.9/dist/jarallax.min.js"></script>
        <!-- Include it if you want to use Video parallax -->
        <script src="https://unpkg.com/jarallax@1.9/dist/jarallax-video.min.js"></script>

        <% if current_page?(accueil_path) %>
            <%= yield :annonce_nouvellement_publié %>

            <%= yield :animate_text  %>
        <% end %>

    </body>
</html>
