<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="<%= yield :page_meta_description %>">
    <meta name="author" content="Francel AMAMOO">
    <meta name="keywords" content="<%= yield :page_meta_keywords %>" />
    <%= favicon_link_tag "148705-essential-collection/svg/home.svg" %>
    <title><%= content_for?(:page_title) ? yield(:page_title) : "SICO" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if content_for?(:head) %>
    <%= yield(:head) %>
    <% end %>  

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
</head>
<body class="<%= controller.controller_name %>#<%= controller.action_name %>">
    <%= render 'shareds/flash' %>
    <%= render "shareds/navbar" %>
    <main>
        <%= yield %>
    </main>
    <%= render "shareds/vp_for_agent_or_agency" %>
    <%= render "shareds/footer" %>
    <% if content_for?(:Morphext) %>
    <%= yield :Morphext %>
    <% end %>
    <% if content_for? :script_choix_type_dannonce %>
    <%= yield :script_choix_type_dannonce %>
    <% end %>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <script>
        var mymap = L.map('mapid').setView([6.387477, 2.272057], 13);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'sk.eyJ1IjoiZnJhbmNlbHdlYmRldiIsImEiOiJjamttcjF1OWQwMDU0M2twMmJyMXgwd25oIn0.0VDbldYNAlxFfFxWA3LNZQ'
        }).addTo(mymap);

        var marker = L.marker([6.387477, 2.272057]).addTo(mymap);

        marker.bindPopup("<h5>SICO</h5>").openPopup()

    </script>
</body>
</html>
