<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="<%= yield :page_meta_description %>">
    <meta name="author" content="Francel AMAMOO">
    <meta name="keywords" content="<%= yield :page_meta_keywords %>" />
    <%= favicon_link_tag "148705-essential-collection/svg/home.svg" %>
    <!-- <title><%#= content_for?(:page_title) ? yield(:page_title) : "SICO" %></title> -->
    <%= display_meta_tags site: content_for?(:page_title) ? yield(:page_title) : "SICO" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if content_for?(:head) %>
    <%= yield(:head) %>
    <% end %>
</head>
<body class="<%= controller.controller_name + "#" + controller.action_name %>">
    <%= render 'shareds/flash' %>
    <%= render "shareds/navbar" %>
    <main>
        <%= yield %>
    </main>
    <%#= render "shareds/call_to_action_for_agency" %>
    <%= render "shareds/call_to_action_for_owner" %>
    <%= render "shareds/footer" %>
    <% if content_for?(:Morphext) %>
    <%= yield :Morphext %>
    <% end %>
    <% if content_for? :script_choix_type_dannonce %>
    <%= yield :script_choix_type_dannonce %>
    <% end %>
</body>
</html>
