<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="author" content="Francel AMAMOO">
    <meta name="description" content="Petite annonce immobilier entre particulier">

    <%= favicon_link_tag "" %>

    <title>Sico - <%= content_for?(:page_title) ? yield(:page_title) : "Bienvenue" %></title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= controller.controller_name %>/<%= controller.action_name %>">
    <%= render "shareds/navbar" %>
    <%= render 'shareds/flash' %>

    <main>
        <%= yield %>
    </main>

    <%= render "shareds/call_to_action_for_agency" if !current_page?(agency_benefits_path) %>
    <%= render "shareds/footer" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if current_page?(home_page_path) %>
    <%= yield :value_proposition_text_typed %>
    <% end %>

    <%= yield(:owl_carousel) %>
</body>
</html>
