<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Francel AMAMOO">
    <meta name="description" content="Petite annonce immobilier entre particulier">

    <%= favicon_link_tag "" %>

    <title>Sico - <%= content_for?(:page_title) ? yield(:page_title) : "Bienvenue" %></title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700,900" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body class="<%= controller.controller_name %> - <%= controller.action_name %>">
    <%= render "shareds/navbar" %>
    <%= render 'shareds/flash' %>

    <main class="bg-light">
        <%= yield %>
    </main>

    <%= render "shareds/call_to_action_for_profesionnal"  %>
    <%= render "shareds/footer" %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if current_page?(root_path) %>
        <%= yield :value_proposition_text_typed %>    
    <% end %>
    
    <%= yield(:owl_carousel)  %>


    <!-- a ajouter jquery file upload ici -->

    <%= cloudinary_js_config %>

<script>
    $(function() {
      if($.fn.cloudinary_fileupload !== undefined) {
        $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
    }
});
</script>

</body>
</html>
